[2019-07-24 20:02] clyne opened #2 "Need examples for linint2"
The linint2 function needs examples, either in the documentation or as standalone scripts. Need to have some discussion on the tradeoffs between the two.

[2019-07-29 18:07] clyne opened #3 "testing"
Test with **markdown** support

[2019-08-02 20:29] clyne opened #4 "Add contributors guide"
We need to add a complete contributors guide

[2019-08-02 20:36] clyne opened #5 "linint"
Port the NCL **linint** family of functions, including: Linint2, linint2_Wrap, linint1, lininit1_n, linint1_Wrap,  linint1_n_Wrap. **linint** Interpolates from a regular grid to another rectilinear grid using bilinear interpolation.

[2019-08-02 20:36] clyne opened #6 "ESMF_regrid"
Port the NCL **ESMF_regrid** family of functions, including: ESMF_regrid. The **ESMF_regrid** function regrids data from one lat/lon grid to another, using ESMF software.

[2019-08-02 20:36] clyne opened #7 "month_to_season"
Port the NCL **month_to_season** family of functions, including: Month_to_season, month_to_seasonN, month_to_season12. The **month_to_season** function computes a user-specified three-month seasonal mean (DJF, JFM, FMA, MAM, AMJ, MJJ, JJA, JAS, ASO, SON, OND, NDJ).

[2019-08-02 20:36] clyne opened #8 "vinth2p"
Port the NCL **vinth2p** family of functions, including: Vinth2p, vinth2p_ecmwf. The **vinth2p** functions interpolates CAM (Community Atmosphere Model) hybrid coordinates to pressure coordinates.

Per @strandgw and @matt-long the utility should work with CAM SE grids

[2019-08-02 20:36] clyne opened #9 "clmMon"
Port the NCL **clmMon** family of functions, including: clmMonTLL, clmMonTLLL. The **clmMon** functions calculates long term monthly means (monthly climatology) from monthly data: (time,lat,lon) version

[2019-08-02 20:36] clyne opened #10 "eofunc"
Port the NCL **eofunc** family of functions, including: Eofunc, eofunc_n, eofunc_Wrap, eofunc_n_Wrap, eofunc_ts, eofunc_north, eofunc_ts_n, eofunc_varimax, eofunc_ts_Wrap. The **eofunc** functions computes empirical orthogonal functions (EOFs, aka: Principal Component Analysis).

The following Functions are involved:

- [x] ``eofunc``
- [x] ``eofunc_n``
- [x] ``eofunc_north``
- [x] ``eofunc_ts``
-

[2019-08-02 20:36] clyne opened #11 "linint_points"
Port the **linint_points** family of functions, including: Linint2_points, linint2_points_Wrap. The **linint_points** functions interpolates from a rectilinear grid to an unstructured grid or locations using bilinear interpolation.

[2019-08-02 20:36] clyne opened #12 "rcm2rgrid"
Port the **rcm2rgrid** family of functions, including: Rcm2rgrid, rcm2rgrid_Wrap. The **rcm2rgrid** functions interpolates data on a curvilinear grid (i.e. RCM, WRF, NARR) to a rectilinear grid.

[2019-08-02 20:36] clyne opened #13 "calcMonAnom"
Port the **calcMonAnom** family of functions, including: calcMonAnomTLL, calcMonAnomTLLL. The **calcMonAnom** functions calculates monthly anomalies by subtracting the long term mean from each point (time,lat,lon version)

[2019-08-02 20:36] clyne opened #14 "clmDay"
Port the **clmDay** family of functions, including: clmDayTLL, clmDayTLLL. The **clmDay** functions calculates long term daily means (daily climatology) from daily data.

[2019-08-02 20:36] clyne opened #15 "calcDayAnomTLL"
Port the **calcDayAnomTLL** family of functions, including: calcDayAnomTLL. The **calcDayAnomTLL** functions calculates monthly anomalies by subtracting the long term mean from each point (time,lat,lon version)

[2019-08-02 20:36] clyne opened #16 "smthClmDay"
Port the **smthClmDay** family of functions, including: smthClmDayTLL, smthClmDayTLLL. The **smthClmDay** functions calculates a smooth mean daily annual cycle for an array nominally dimensioned (Time,Level,Lat,Lon).

[2019-08-02 20:36] clyne opened #17 "rmMonAnnCyc"
Port the **rmMonAnnCyc** family of functions, including: rmMonAnnCycLLT, rmMonAnnCycLLLT, rmMonAnnCycTLL. The **rmMonAnnCyc** functions removes the annual cycle from "monthly" data.

[2019-08-02 20:36] clyne opened #18 "mjo"
Port the **mjo** family of functions, including: Mjo_wavenum_freq_season, mjo_cross, mjo_spectra, mjo_xcor_lag_season, mjo_phase_background.

[2019-08-02 20:45] khallock commented on #4
A first draft version of the contributors guide is included in [pull request #1 - linint2](https://github.com/NCAR/geocat-comp/pull/1) in the file [CONTRIBUTING.md](https://github.com/NCAR/geocat-comp/blob/linint2/CONTRIBUTING.md).

In its current state, the guide only contains sections for "Wrapping NComp functions using Cython" and "Wrapping Cython functions in Python". We still need to add more

[2019-08-02 20:48] khallock commented on #5
linint2 and linint2_Wrap have been submitted for inclusion in pull request #1.

[2019-08-05 21:57] #3 closed

[2019-08-05 22:07] clyne commented on #2
One option for examples is to include jupyter notebooks. This might simplify inclusion of imagery generated by examples. See MetPy for an example: https://unidata.github.io/MetPy/latest/examples/index.html

[2019-08-09 00:54] khallock opened #19 "Configure continuous integration using CircleCI"
- [x] Enable automated builds on CircleCI
- [ ] Add status badges to README.md

[2019-08-09 00:54] khallock commented on #19
Automated builds have been enabled on CircleCI: https://circleci.com/gh/ncar/geocat-comp

[2019-08-29 16:47] clyne opened #20 "natgrid"
Port the natgrid family of functions include: natgrid, natgrid_Wrap

[2019-08-29 16:50] clyne opened #21 "triple2grid"
Port the triple2grid family of functions, including: triple2grid, triple2grid2d, triple2grid_wrap

[2019-09-10 22:04] clyne opened #23 "web site documentation improvements"
Installation instructions:

@khallock The documentation describes two options for installing via conda. However, it is not clear that two optional methods are being described. I.e. It’s not clear that the user should pick one method over the other (installing with or without using conda environments)

We should provide a link for more information on managing conda environments

Since matplotlib an

[2019-09-10 22:18] abb58 commented on #23
@clyne The different indexing for LAT and LON is for a couple of reasons (a) preserve the indexing style in NCL regrid example, (b) provide an example for different ways to indexing.

[2019-09-10 22:38] clyne commented on #23
Hmm. Yes, I agree that it would be nice to be consistent with the NCL examples, but arbitrarily using two different indexing mechanisms might cause confusion (I got confused :-). If it is worthwhile to show two different schemes like that it would be helpful to add a comment indicating that they are equivalent.

[2019-09-11 03:07] abb58 commented on #23
@khallock Upon testing the webpage and installation instructions: I found this:

`from Cython.Build import cythonize
ImportError: No module named Cython.Build`

I guess, one might require `cython` as well for the list of recommended python packages on the website.

[2019-09-11 16:26] khallock commented on #23
@clyne Thanks for the input, I just updated the installation instructions page on the documentation site.

[2019-09-11 21:00] #23 closed

[2019-09-11 22:26] clyne opened #24 "dpres_plevel"
Port the NCL **dpres_plevel** family of functions, including: dpres_plevel, dpres_plevel_Wrap, linint1_n_Wrap. **dpres_plevel** Calculates the pressure layer thicknesses of a constant pressure level coordinate system.

[2019-09-11 22:26] clyne opened #25 "PopLatLon"
Port the NCL **PopLatLon** family of functions, including: PopLatLon, PopLatLonV **PopLatLon** 	Regrids a scalar variable on a POP grid to a lat/lon grid or vice-versa.

[2019-09-11 22:26] clyne opened #26 "pres_hybrid_ccm"
Port the NCL **pres_hybrid_ccm** family of functions, including: pres_hybrid_ccm, dpres_hybrid_ccm. **pres_hybrid_ccm** Interpolates data on constant pressure levels to hybrid levels.

[2019-09-11 22:26] clyne opened #27 "wkSpaceTime"
Port the NCL **wkSpaceTime** family of functions, including: wkSpaceTime, wkSpaceTime_cam. **wkSpaceTime** Calculates Wheeler-Kiladis space-time spectra.

[2019-09-11 22:26] clyne opened #28 "moc_globe_atl"
Port the NCL **moc_globe_atl** family of functions, including: moc_globe_atl. **moc_globe_atl** Facilitates calculating the meridional overturning circulation for the globe and Atlantic.

[2019-09-11 22:26] clyne opened #29 "band_pass"
Port the NCL **band_pass** family of functions, including: Band_pass_latlon_time, band_pass_hovmueller, band_pass_area_time, band_pass_hovmueller_plot **band_pass** Create a time series of area averages; band-pass filter the resulting area-averaged time series and calculate other statistics.

[2019-09-11 22:26] clyne opened #30 "mjo"
Port the NCL **mjo** family of functions, including: Mjo_wavenum_freq_season, mjo_cross, mjo_spectra, mjo_xcor_lag_season, mjo_phase_background. **mjo** Calculates various MJO spectra.

[2019-09-12 23:40] khallock opened #31 "gc_* functions"
Port the NCL `gc_*` family of functions, including: gc_aangle, gc_clkwise, gc_dangle, gc_inout, gc_latlon, gc_onarc, gc_pnt2gc, gc_qarea, gc_tarea. The `gc_*` functions perform great circle calculations, such as whether a given point is located on a specified great circle arc (gc_onarc) or if a point is located within a polygon bounded by a set of great circle arcs (gc_inout).

[2019-09-17 19:08] #5 closed

[2019-10-02 17:10] clyne opened #35 "contour colors in linint2 example looks wrong"
The two figures in the linint2 example here:

https://geocat-comp.readthedocs.io/en/latest/examples.html

disagree more than expected. The first figure shows the original data. The second shows data resulting from interpolation with linint2. The colors used in the regridded data figure appear shifted up by one level in the color map.

Reported by: rashidcomsis@gmail.com

[2019-10-03 19:58] abrammer commented on #35
Digging around the docs and progress here and noticed this.

The two plots are called independently so dynamically create their own color scales.  The colorbar is only relevant for the second plot here.

Explicitly pass limits and extend options to make sure each plot is using the same color scale:
`vmin=-30, vmax=30, levels=16, extend="neither", `

You could also use the `xarray.DataArray.plot.co

[2019-10-04 18:45] abb58 commented on #35
Thanks @abrammer ! That really did the trick.
![linint2](https://user-images.githubusercontent.com/9905141/66231872-c378a700-e6a4-11e9-9e90-1f1914c97762.png)

[2019-10-15 22:43] dennisshea commented on #27
Maria Gehne [NOAA: Boulder] has been working on this. She has sent me a plot. I will notify her of this Github link. I am sure she will contribute her code. She had her own data sets and I provided her with my test data sets.

[2019-10-17 23:18] khallock opened #37 "Namespaces for function categories"
Continuing discussion from #32.

_Originally posted by @maboualidev in https://github.com/NCAR/geocat-comp/pull/32#pullrequestreview-302652115_

_Originally posted by @khallock in https://github.com/NCAR/geocat-comp/pull/32#issuecomment-543397908_

[2019-10-18 01:45] jinqj commented on #37
Hello,

My name is Qinjian Jin and have used NCL for about 10 years. I switched to python a half year ago but switched back to NCL several weeks ago. Because I have an on-going project that needs to be done in a limited time, and it takes longer than a half year to completely transfer to python from NCL without a python version of most of NCL computational functions. The geocat project is the righ

[2019-10-18 17:44] clyne commented on #37
Hi Qinjian,

Thanks for your input on this! We love hearing from the user community. Glad to hear that you support the direction we are going. Regarding contributions: we're still working on putting infrastructure in place to facilitate community contributions, and look forward to seeing yours.

cheers

[2019-10-23 16:12] maboualidev commented on #6
@clyne @khallock Have you checked this:
https://xesmf.readthedocs.io/en/latest/

[2019-10-24 01:24] clyne commented on #6
I’m aware it exists, but don’t know much about it. What I’ve hear from a number of scientists wrt ESMF regridding is that there are Python tools out there, but they are either too difficult to use or don’t provide desired functionality. This is an area where we probably need to get some community input and do some homework before diving in with implementation. Matt Long might be a good place to st

[2019-11-12 21:42] #2 closed

[2019-11-12 21:45] clyne opened #40 "rcm2points"
Port the rcm2points function. Interpolates data on a curvilinear grid (e.g. RCM, WRF, NARR) to an unstructured grid.

[2019-11-13 16:06] clyne opened #42 "dtrend"
Port the dtrend family of functions, which include: dtrend, dtrend_msg_n, dtrend_n, dtrend_msg, dtrend_leftdim, and *possibly* dtrend_quadratic. These functions estimate and remove the least squares linear trend.

Note. There appear to be SciPy equivalents that should be explored before committing to converting the NCL functions to Python.

[2019-11-13 18:28] clyne opened #43 "specx"
Port the NCL specx family of functions to Python, which include: specx_anal, specx_ci, and specxy_anal. These functions spectra of a series.

[2019-12-10 19:27] #35 closed

[2019-12-20 22:09] clyne opened #51 "xy_2"
Description: Basic XY line plotting capabilities

Script URL: https://www.ncl.ucar.edu/Applications/Scripts/xy_2.ncl

Plot URL: https://www.ncl.ucar.edu/Applications/xy.shtml

[2019-12-20 22:10] clyne commented on #51
testing

[2019-12-20 22:10] #51 closed

[2019-12-21 21:07] #12 closed

[2019-12-21 21:07] #40 closed

[2020-01-06 19:14] clyne commented on #20
natgrid has on NCL C files in "ngmath".  Need to figure out how to reconcile these. There is a git branch, origin/nat2grid, on https://github.com/NCAR/ncomp where work has been started.

[2020-01-07 22:38] clyne commented on #40
@khallock please verify that documentation is configured correctly to auto-generate read-the-docs doc on geocat website. Then we can close this issue.

[2020-01-07 22:40] clyne commented on #24
@khallock please verify that documentation is configured correctly to auto-generate read-the-docs doc on geocat website.

[2020-01-07 22:41] clyne commented on #24
@erogluorhan please compare example scripts for this function with NCL version of function. If you think it would be helpful, please augment this function with additional examples.

[2020-01-07 22:42] clyne commented on #11
@erogluorhan please compare example scripts for this function with NCL version of function. If you think it would be helpful, please augment this function with additional examples.

[2020-01-07 22:43] clyne commented on #28
The inline documentation for this function is missing an example script. We are currently looking for a suitable example data set

[2020-01-22 22:19] #42 closed

[2020-01-31 22:50] bonnland commented on #7
@khallock  I have a possible implementation of month_to_season.   If you think it suits your needs, I would need a little guidance on where you want the code to appear before submitting a pull request.  Perhaps you want tests included too.

You can test out the code using the lines below the function.

[code]

Test code:
[code]

[2020-02-03 18:33] bonnland commented on #7
One eventual improvement to the code is to filter data before computing means for a single season.   The code as it is now, computes means for four seasons and filters down to one, which is more resource intensive than necessary.

[2020-03-05 23:23] andersy005 opened #57 "Distributing geocat via PyPI/pip"
As it's been pointed out in this comment on [Discus](http://disq.us/p/27q4m1e), **the only way to use geocat today is via conda**. This may end up penalizing/discouraging non-conda users or may force them to migrate to conda --which is not convenient for everyone-- if they really want to use geocat. It would be useful to consider building and publishing **wheels** to PyPI.

@khallock pointed out:

[2020-03-06 23:49] clyne commented on #57
Good points, @andersy005. Thanks for bringing this up. The GeoCAT will definitely discuss f2f.

[2020-03-27 19:23] #21 closed

[2020-03-27 19:29] #24 closed

[2020-03-27 19:30] #10 closed

[2020-03-28 00:42] erogluorhan opened #60 "User-defined missing values in functions"
**FUNCTIONS WITH THE BUG:**
`rcm2points, rcm2rgrid, rgrid2rcm` at Cython level (in [_ncomp.pyx](https://github.com/NCAR/geocat-comp/blob/develop/src/geocat/comp/_ncomp.pyx)) as well as their test cases under /test.

**BUG EXPLANATION:**
At Cython level, functions such as linint2, linint2points, and moc_globe_atl has the following code block, which works correctly to handle both NaN/None and user-d

[2020-04-03 21:12] clyne commented on #60
Good catch, @erogluorhan! Is there a reason we can't define a utility function to consistently handle missing values, reduce cut-n-paste code, etc?

[2020-04-03 21:26] erogluorhan commented on #60
Good suggestion, @clyne. I agree with it and will try to come up with such a solution when I walk through the code for this issue.

[2020-04-07 20:57] erogluorhan opened #61 "Retaining meta data information in functions"
**FUNCTIONS CONSIDERED IN THIS ISSUE:**
`linint2points, rcm2points, rcm2rgrid, rgrid2rcm, triple2grid, grid2triple`

**ISSUE:**
It can be seen from the function `linint2` that when the argument `meta` is set True, the meta data information from the input data should be retained in the output data.

Such retainment of meta data was handled in NCL by additional functions with a name extension of `_W

[2020-04-07 21:03] clyne commented on #61
@khallock, is there a reason to not simply always copy the attribute metadata to the output array when possible? Do we even need this option, or should we simply always copy out the metadata when possible? Sorry for not thinking of this earlier.

We need to remember to assign this issue to Austin once his GitHub account is set up.

[2020-04-07 21:03] erogluorhan opened #62 "Docstring refactoring"
All of the functions should be refactored with respect to following points:

1. Python API: Consistent language use and descriptions for function arguments should be achieved in the docstrings.

2. Cython: Most of the docstrings in this level are duplicates with Python API docstrings. To prevent such duplication, repetitive information in this level may be removed. In other words, only different i

[2020-04-07 21:28] pilotchute commented on #60
Locations of the errors are:
[code]

[2020-04-07 21:30] pilotchute commented on #60
Additional locations to look at are:
[code]

[2020-04-07 22:59] khallock commented on #61
@clyne That's a great question, thanks for bringing it up! I'm of the opinion that keeping the optional `meta=` keyword argument, setting it to `True` by default, is the most flexible option for the most users. If a user knows that they won't need metadata, then this could potentially save them a non-trivial amount of memory, particularly for large coordinate arrays. This is just my gut feeling on

[2020-04-07 23:19] clyne commented on #61
Most attributes are only a few bytes in size. In the case of coordinate arrays isn't it only the name of the coordinate array that is copied, not the coordinate values themselves?

[2020-04-07 23:41] khallock commented on #61
Great point, most attributes are scalars or short strings and are thus a non-issue in terms of memory usage. Regarding coordinate arrays, however, in the case of [linint2](https://github.com/NCAR/geocat-comp/blob/develop/src/geocat/comp/__init__.py#L262-L268), [eofunc](https://github.com/NCAR/geocat-comp/blob/develop/src/geocat/comp/__init__.py#L662-L673), and [eofunc_ts](https://github.com/NCAR/g

[2020-04-08 02:19] clyne commented on #61
If the genesis of the NCL "_W" functions was to save memory or compute I'm not sure that argument still applies for most of these operators. Even for the examples above that copy over coordinate arrays these are only 1D variables. I'd opine that moving forward we not carry over the meta option from NCL and simply default to always coping attributes. If there are cases where there is truly a signif

[2020-04-08 18:03] pilotchute opened #63 "Q: geocat.comp.ndpolyfit() moved upstream to Xarray. Should ndpolyfit be removed from geocat.comp?"
Xarray implemented polyfit and polyval on: https://github.com/pydata/xarray/pull/3733
Should the duplicate functionality in geocat.comp.ndpolyfit be preserved?

To start the discussions:
Pros: maintains backward compatibility for all projects.

Cons: functionally with current polyfit in pydata.xarray is duplicated, and pydata.polyfit should become the reference implementation now that it has been

[2020-04-08 21:40] pilotchute commented on #60
Branch [Issue_60](https://github.com/NCAR/geocat-comp/tree/Issue_60) created.
- [X] Updates to [_ncomp.pyx](https://github.com/NCAR/geocat-comp/blob/Issue_60/src/geocat/comp/_ncomp.pyx)
- [ ] Updates to Test_<method>.py files.

[2020-04-17 20:52] pilotchute commented on #60
@khallock @erogluorhan why are we using msg=None at the method definitions when we assume that None can mean np.nan later?

[2020-04-18 19:32] erogluorhan commented on #60
This is because the default case should be that user calls functions without providing any specific value for `msg (i.e. `msg = None`)`. In this case `np.nan` values in the input arrays should still be processed as missing values. In other words, there should be no difference between the cases where user either does not provide any missing value as input (i.e. `msg = None`) or gives `msg = np.nan`

[2020-04-20 22:37] clyne opened #66 "Add support for climatology (means)"
Provide support for general climatologies of a user-specified frequency (e.g. monthly, seasonal). Specifically, provide equivalent functionality to NCL's clm* functions. See https://www.ncl.ucar.edu/Document/Functions/climo.shtml

This capability will be provided by refactoring the ESMLab climatology function: https://esmlab.readthedocs.io/en/latest/api.html#esmlab.core.climatology

API and capabi

[2020-04-23 17:51] pilotchute commented on #60
Closing and migrating to [ncomp#3](https://github.com/NCAR/geocat-ncomp/issues/3)

[2020-04-23 17:51] #60 closed

[2020-04-28 18:49] khallock opened #68 "Update function names when porting from NCL"
We should try to eliminate abbreviated function names from NCL in favor of verbose function names when possible. We should also avoid using camelCase for functions and should instead use underscores to separate words, per PEP8. For example, names such as "calcMonAnom" and "rmMonAnnCyc" could be something more like "calculate_monthly_anomalies" and "remove_annual_cycle", respectively.

Additionally

[2020-04-29 02:48] clyne opened #69 "grid area"
Add function for computing the area of a selected region of a geo-referenced regular grid. Note, this includes rectilinear and curvilinear grids.

Requested by @matt-long

[2020-04-29 02:51] matt-long commented on #69
Here are some prototype functions that accomplish some of this functionality.

[code]

[2020-04-29 03:19] matt-long commented on #69
With grid vertices, it should be possible to have a more general algorithm.

cc @klindsay28

[2020-04-30 17:43] pilotchute commented on #62
Docstrings will be updated in polynomial.py and then once the ncomp migration is done, a separate branch will be made for ncomp cython docstring changes.

Docstrings will comply with [PEP 257](https://www.python.org/dev/peps/pep-0257/)

[2020-05-05 18:12] pilotchute commented on #62
The Sphinx documentation system does weird things with certain keywords "Args" "Parameters" "Returns"

I'm going to explore a few ways of formatting the docstrings such that those keywords are avoided so that formatting can be controlled a bit more.

[2020-05-26 19:57] pilotchute commented on #66
https://www.ncl.ucar.edu/Document/Functions/climo.shtml

Contains a list of climatology functions to port.

[2020-06-02 23:04] erogluorhan commented on #62
Hi @pilotchute and @clyne

I think this issue has been automatically closed with closing of PR #70, but I think we need to reopen it due to the existing need for addressing the same issue for Python and Cython levels at geocat-ncomp. Please correct me and re-close it if I am wrong.

[2020-06-03 03:43] clyne commented on #62
Hi @erogluorhan

Just to be clear are you saying we need to perform the same refactoring in geocat-ncomp? It was my understanding that geocat-ncomp contained only Fortran and Cython code. Is there duplication in the documentation between Fortran and Cython, lack of standardization, or both?

[2020-06-03 05:40] erogluorhan commented on #62
Actually, whenever we have a Python code that has Fortran dependency and thus Cython dependency, that code goes into **geocat-ncomp** with its Cython code, e.g. `linint2`, `rcm2rgrid`, `linint2_points`, `eof`, etc. From this point, **geocat-ncomp** contains Python and Cython code only. In addition, **libncomp**, contains corresponding C and Fortran codes for those in **geocat-ncomp**.  On the othe

[2020-06-03 13:43] clyne commented on #62
Thanks for the clarification. I agree we need to re-open this.

[2020-06-03 16:12] pilotchute commented on #62
@erogluorhan Thanks for reopening, I missed the autoclose when I merged #70.

[2020-06-03 16:52] erogluorhan commented on #62
Great, then let us keep this issue open for docstring refactorings in [**geocat-ncomp**](https://github.com/NCAR/geocat-ncomp).

[2020-06-03 20:29] pilotchute opened #71 "Remove ncomp and add geocat-ncomp dependency."
They are no longer required for building geocat-comp, but remain dependencies for geocat-ncomp

[2020-06-04 18:15] clyne opened #72 "Move extended examples from GeoCAT-comp to GeoCAT-examples"
We should consider migrating the extended (standalone Python script) examples from the GeoCAT-comp repo. to the GeoCAT-examples repo

[2020-06-05 20:01] andersy005 opened #73 "Update contribution guide"
Now that the code that wraps the fortran routines reside in geocat-ncomp, the existing contribution guide appears to be outdated. It would be nice to have an up-to-date contribution guide.

[2020-06-05 20:03] clyne commented on #73
Indeed. This is HIGH on the priority list.

[2020-06-09 20:11] pilotchute commented on #71
changing title to swap ncomp dependency for a geocat-ncomp dependency.

[2020-06-11 16:59] #71 closed

[2020-06-14 14:08] clyne opened #76 "dim_avg"
Port the NCL dim_avg function family: computes averages over a specified dimension

Notes from @matt-long :
I would like to see a zonal averaging utility based on a very general approach to computing polygon areas on a sphere. Keith Lindsay has a Fortran program that works this way on the POP grid. It could form the basis of a more general implementation.

Notes from @strandgw : Utility should wor

[2020-06-15 18:15] erogluorhan opened #77 "Geocat-comp tests should trigger geocat-ncomp test cases, too"
Geocat-comp should be tested comprehensively including geocat-ncomp for the user API purposes. Therefore, `pytest` should trigger geocat-ncomp test cases as well. Currently only geocat-comp test cases are triggered when run `pytest test`.

[2020-06-17 02:41] erogluorhan commented on #77
Hi @pilotchute , I noticed now that in addition to the pytest tests, CircleCI builds for Python 3.6, 3.7, and 3.8 seem to be building and testing only [geocat-comp](https://github.com/NCAR/geocat-comp), i.e. there seems nothing done for [geocat-ncomp](https://github.com/NCAR/geocat-ncomp). You can have a look at the following example [CircleCI Python 3.7 build for geocat-comp](https://app.circleci

[2020-06-24 19:46] pilotchute opened #80 "Automatic Pep8 github workflows."
To help keep the repository code maintainable, autopep8 should be set up to run on push and pull_request for this repo, using github actions.

[autopep8 action](https://github.com/marketplace/actions/autopep8)

[Implementation for geocat-comp repo](https://github.com/NCAR/geocat-comp/pull/79)

[2020-06-24 20:46] #80 closed

[2020-06-24 21:11] #7 closed

[2020-09-01 17:18] #62 closed

[2020-09-01 18:18] #28 closed

[2020-09-01 18:18] #19 closed

[2020-09-01 18:28] #18 closed

[2020-09-01 18:32] #11 closed

[2020-09-02 18:51] dcherian commented on #6
FYI xesmf development is continuing here: https://github.com/pangeo-data/xESMF

[2020-09-02 18:52] dcherian commented on #6
(I don't understand how I can unassign someone)

[2020-09-06 14:34] LuckyBoy314 opened #85 "Dose the geocat-comp support Windows?"
I failed to install it on my Win7

[2020-09-07 16:29] erogluorhan commented on #85
Hi there! Thank you for your question! It does not support Windows yet; however, we are investigating this for future.

[2020-09-08 16:44] pilotchute commented on #85
@LuckyBoy314 We are making improvements which will make a windows version possible, I'll message you here once one is released.

[2020-09-09 16:33] clyne commented on #8
See https://github.com/xgcm/xgcm as possible alternative to porting vinth2

[2020-09-09 16:38] matt-long commented on #8
Also: https://github.com/xgcm/xgcm/issues/222

[2020-09-09 18:25] matt-long commented on #8
Perhaps relevant as well: https://github.com/SciTools-incubator/python-stratify

[2020-09-15 20:56] pilotchute opened #86 "Try integrating f2py compiled .so files into geocat-comp branch."
- [x] Move geocat-temp .so files into geocat-comp branch.
~~- [ ]  upload to private conda channel.~~
~~- [ ] Test installation of package from private channel.~~
~~- [ ] Test function of installed package.~~

[2020-09-18 20:44] #4 closed

[2020-09-18 20:45] erogluorhan commented on #4
Added, please see: [GeoCAT Webpage Contributing](https://geocat.ucar.edu/pages/contributing.html)

[2020-09-18 20:46] erogluorhan commented on #73
Added, please see: [GeoCAT Contributor's Guide](https://geocat.ucar.edu/pages/contributing.html) as well as repository-specific documentation for GeoCAT-comp, GeoCAT-ncomp, and libncomp.

[2020-09-18 20:46] #73 closed

[2020-09-22 16:43] erogluorhan opened #87 "Add GeoCAT-ncomp test runs into GeoCAT-comp CircleCI test runs"
This is for having a fully integrated set of test runs from under GeoCAT-comp. As all the GeoCAT-ncomp functionality is `import`ed from within GeoCAT-comp, tests of it can be theoretically imported and automatically run as well.

[2020-09-22 17:00] erogluorhan opened #88 "Remove libNComp build from GeoCAT-comp CircleCI builds"
GeoCAT-comp integration builds includes GeoCAT-ncomp, too, and it already includes libNComp. This means GeoCAT-comp CI builds implicitly includes libNComp build tests, and there is no need to explicitly include them again. libNComp build tests should be removed from CI configuration file.

[2020-10-06 19:49] pilotchute commented on #86
This is an incorrect approach, the .so files should be generated per system on install of the package, since they will need to link to the individual system's installation of gfortran.

[2020-10-06 19:49] #86 closed

[2020-10-11 08:03] LuckyBoy314 commented on #85
@erogluorhan @pilotchute Thank you for your reply and excellent work！ I have installed it on my Ubuntu VM, but I'm still looking forward to the Windows version.

[2020-10-13 18:26] hCraker opened #89 "Functions to calculate Skew-T parameters"
When plotting Skew-T data using NCL, the following information is calculated and added just under the figure title automatically:
-    Cape  -  Convective Available Potential Energy [J]
-    Pwat  -  Precipitable Water [cm]
-    Shox  -  Showalter Index (stability)
-    Plcl  -  Pressure of the lifting condensation level [hPa]
-    Tlcl  -  Temperature at the lifting condensation level [C]

The pu

[2020-10-22 03:44] skd862 opened #90 "Cannot import eofunc from geocat.comp"
Hi,
I installed geocat using Conda and was trying to use function eofunc. When attempting to import the function, I received error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'eofunc' from 'geocat.comp' (/Users/sondo/opt/anaconda3/envs/geocat/lib/python3.7/site-packages/geocat/comp/__init__.py)

Thank you

[2020-10-22 05:10] #90 closed

[2020-11-22 04:44] mariajmolina commented on #43
Hello @clyne and @erogluorhan -- Has there been an update on this? I am asking because I am currently working on trying to replicate the spectral analysis I get from [spec_1.ncl](https://www.ncl.ucar.edu/Applications/Scripts/spec_1.ncl) using pure python, but am not able to yet. I think its because I don't fully understand the steps talked about [here](https://sites.google.com/site/earthsciencedat

[2020-11-22 05:36] erogluorhan commented on #43
Hi @mariajmolina , thanks a lot for reaching out! There has not been an update yet, though, we could work on wrapping this function up in our GeoCAT-comp stack. The fastest way to do this is likely to wrap up the Fortran code in Python with the help of Numpy.f2py. I see that you are trying to come up with a pure Python implementation instead. Please let us know your thoughts on either wrapping up

[2020-11-22 06:02] mariajmolina commented on #43
Thank you so much for your response @erogluorhan -- I appreciate you explaining the several potential ways forward. I would be okay with wrapping the Fortran code in Python, but I would prefer the latter option (pure python) so that I could much more easily make modifications if needed and fully understand the series of calculations. I would be very happy to collaborate with you on a python implem

[2020-12-08 18:55] anissa111 opened #91 "Implementation of relhum"
This issue is a part of a larger effort detailed in this [S@S issue](https://github.com/NCAR/science-at-scale/issues/1).

[2020-12-12 10:51] pedrotildes opened #92 "problem in geocat.viz"
I'm trying to use the geocat examples and I'm always stuck in erros in geocat.viz.util:

AttributeError: module 'geocat.viz.util' has no attribute 'add_major_minor_ticks'

I have installed Geocat in macOS Big Sur with anaconda3.8 and I have also installed geocat-viz in the conda environment where geocat was installed
Any hints?
Thanks

[2020-12-30 18:30] michaelavs commented on #89
@erogluorhan I see that you have assigned yourself to this issue, but I've been looking into the functions outlined and possible implementations this morning and wanted to run past you what I've seen so far.

From what I have seen, all of these functions are currently in MetPy except for the Showalter Index, which I am currently working on a way to calculate this value using [MetPy calc functions]

[2021-01-04 17:53] anissa111 opened #94 "implementation of dewtemp"
This issue is a part of a larger effort detailed in this [S@S issue](https://github.com/NCAR/science-at-scale/issues/1).

[2021-01-12 01:12] erogluorhan commented on #87
Will be reiterated when GeoCAT-f2py is deployed under GeopCAT-comp

[2021-01-12 01:12] #87 closed

[2021-01-12 01:37] #85 closed

[2021-01-12 01:58] #61 closed

[2021-01-12 02:07] erogluorhan opened #97 "Geocat-comp tests should trigger geocat-f2py test cases, too"
`Geocat-comp` should be tested comprehensively including `geocat-f2py` tests for the user API and integrated testing purposes. Therefore, `pytest` should trigger `geocat-f2py` test cases as well. Currently only `geocat-comp` test cases are triggered when run `pytest test`. This would likely require playing with the namespace handling.

[2021-01-12 02:07] erogluorhan commented on #77
Closing in favor of  #97

[2021-01-12 02:07] #77 closed

[2021-01-12 05:53] erogluorhan commented on #89
Thanks a lot for looking into this and bringing up your findings! These are significant findings that help determine Geocat-comp roadmap.

So, I agree that the only missing index in MetPy looks to be "show (Showalter Index)". Please also note that `metpy.calc.lifted_index()` looks similar to "shox" but differs with its use of initial location of the lifted parcel. It is possible that showalter ind

[2021-01-12 20:40] pilotchute commented on #63
- [ ] Resolution: refactor geocat.comp.ndpolyfit as an alias to pydata.xarrray.polyfit. this preserves compatibility with code that calls comp.ndpolyfit, while allowing xarray.polyfit to be the implementation.
- [ ] tag with branch once this imporovement is started.

[2021-01-14 18:56] erogluorhan commented on #37
@pilotchute @anissa111 @michaelavs I think this is an important discussion, and we need to come up with a decision/solution for this in the newer releases. Thoughts?

[2021-01-14 22:19] pilotchute commented on #37
My understanding is that we will try to bring all the functions from within the various modules all the way up to the geocat.comp namespace via the __init_.py imports.
Thus to use the example from ealier in this thread: `geocat.comp.eofunc()`.

[2021-01-14 22:35] anissa111 commented on #37
I am okay with either approach, but I prefer the `geocat.eof.eofunc()` approach. Would out namespace structure also cover function families, like the fire index functions? In that case, expanding the namespace to something like `geocat.comp.fireindex.something()` might become a little unwieldy, since the functions would need to be classified under the computational umbrella of geocat.

[2021-01-14 22:38] erogluorhan commented on #37
This issue says various modules should be grouped into categorized namespaces instead of importing them directly under `geocat.comp` as we have done so far. In other words, this suggested namespacing resembles more of a `matplotlib` or other big package namespacing. For example:

`linint2` would be under such a namespace: `geocat.comp.interpolation.linint2` (instead of `geocat.comp.linint2`)
`rcm2

[2021-01-14 23:24] Thomas-Moore-Creative opened #98 "NCL: Principal Oscillation Pattern (POP) Analysis ?"
Aloha NCAR GEOCAT folks! First, thanks for these important efforts to renew the NCL legacy.

Apologies for a possibly ignorant question about the work plan for geocat-comp but are NCL tools like [Principal Oscillation Pattern (POP) Analysis](https://www.ncl.ucar.edu/Applications/prn_osc_pat.shtml) in scope? Planned?

Some of us have a selfish interest to be able to reproduce the "NCL: Principal Os

[2021-01-14 23:47] pilotchute commented on #98
I'm not the authority on this, but here's my thoughts:
We would like to make sure that anything that could be done in NCL will be able to be done in GeoCAT unless some other python package already can.

I personally don't know enough about POP to give a guess at how soon an implementation of it could be available in GeoCAT. From glancing at the underlying NCL code for it, it seems like there are n

[2021-01-15 00:21] Thomas-Moore-Creative commented on #98
G'day from Tasmania, @pilotchute - thanks for your quick reply.  Missing my days in Boulder - all the best to Colorado and those FlatIrons!

Apologies that my query is a very ignorant one as I have never run any NCL or used POP analysis.  I was simply looking for python packages that, instead of EoFs, supported POP with some established legacy / confidence and was pointed at the NCL webpage.  Furt

[2021-01-15 00:41] pilotchute commented on #98
The math behind principal component analysis' like EoFs and by extension POP, is well covered by numpy, so I'm sure there's a way. I just need to figure out what exactly POP does with the EoFs once computed. :)

[2021-01-19 17:50] erogluorhan commented on #37
Closing this issue for now, with the decision of keeping the current namespace attitude as is. It may be revisited in the future if needed.

[2021-01-19 17:50] #37 closed

[2021-01-19 17:53] erogluorhan commented on #66
@pilotchute @andersy005 Please schedule a time to sit together and discuss how to migrate Esmlab functions into GeoCAT-comp. Such a migration could be performed in one of the coming monthly releases I believe.

[2021-01-20 02:01] erogluorhan commented on #98
Hi Thomas,

Thank you very much for reaching out to us with your requests/inputs! We love hearing from the user community to help determine our roadmap.

"NCL: Principal Oscillation Pattern (POP) Analysis" is a great analysis that is pretty much related to / similar with `eof` functions, as you already mentioned. What is nice to know is that it was also a user-provided analysis method back in the

[2021-01-20 04:23] Thomas-Moore-Creative commented on #98
Thanks @erogluorhan to you and your GeoCAT team.  It would be great to see POP reborn under GeoCAT.  If I do come up with anything of my own, based on GeoCAT, I'd be happy to contribute.

[2021-02-02 17:51] #98 closed

[2021-02-16 16:08] michaelavs commented on #92
Hi @pedrotildes,
Were you able to resolve this issue or do you still need assistance?
If you do still need assistance, would you mind including part, or all, of the code you are using (including import statements from the top)?

[2021-02-20 00:23] andersy005 opened #109 "Tagging Releases"
Today, it's not possible to checkout a specific release version (tag) of geocat-comp via git. I'm wondering if there's any plan for tagging future releases in this repository? I wanted to compare changes between two releases via Git. Having access to git tags/releases would make this easy.

[2021-02-23 18:58] andersy005 commented on #13
Just wanted to point out this has been implemented in #100

[code]

[2021-02-23 19:01] anissa111 commented on #13
Oh yup I can see that, thank you for pointing that out!

[2021-02-23 19:01] #13 closed

[2021-02-23 19:06] andersy005 commented on #15
This was also implemented in #100. `geocat.comp.anomaly()` supports these frequencies:

- `'day'`: for daily anomalies
- `'month'`: for monthly anomalies
- `'year'`: for annual anomalies
- `'season'`: for seasonal anomalies

[2021-02-23 19:07] #15 closed

[2021-02-23 20:23] andersy005 commented on #14
If I am not mistaken, this has been implemented in #3. It's accessible via `geocat.comp.climatology()` function

[2021-02-23 22:16] #14 closed

[2021-02-23 23:23] anissa111 commented on #9
Covered in #100 by @andersy005

[2021-02-23 23:23] #9 closed

[2021-02-24 22:45] andersy005 commented on #57
Now that `geocat-f2py` is an optional dependency,  It's my understanding that publishing `geocat-comp` to PyPI is now feasible, and should be straightforward.

[2021-02-26 00:10] erogluorhan opened #114 "Version in meta.yml"
From @andersy005 's comments in PR #112 :

Wouldn't it be more robust to use git as the source of truth for the version instead of the string in the meta.YAML file? https://pypi.org/project/setuptools-scm/ is a good candidate for this.

Also, with this current approach, it's not possible to retrieve the version information at runtime. It'd be useful to provide a convenient way to retrieve version

[2021-02-26 00:34] andersy005 commented on #109
Thank you for addressing this, @erogluorhan

[2021-02-26 16:49] #91 closed

[2021-02-27 03:04] erogluorhan commented on #114
@andersy005 's second follow up comment:

If we assume that everyone is using the stable release, I agree with this statement. However, what happens when I install geocat-comp from source via

[code]
???

The installation works. However, the version information you get from `conda list` are misleading. I do think that in this case (for install from source) providing version information at runtime

[2021-03-01 18:40] #109 closed

[2021-03-02 00:19] #94 closed

[2021-03-02 00:21] anissa111 opened #116 "Implementation of daylight_fao56"

[2021-03-05 16:08] #92 closed

[2021-03-05 16:24] #8 closed

[2021-03-05 16:40] anissa111 opened #121 ""Edit on github" buttons lead to 404 page"
[See similar fix in geocat-examples](https://github.com/NCAR/GeoCAT-examples/pull/304)

[2021-03-09 20:15] phillips-ad opened #124 "Implement NCL's spectra functionality: specx_anal, specx_ci and specxy_anal"
NCL's spectra functions are some of the most highly used by my research group (CAS/NCAR).  I am not familiar with other python packages, but I would guess that a number of them already have these spectra capabilities. It would be great, following what was done with the new eof routines, if the GeoCAT group could port this capability to geocat-comp.

NCL links
[specx_anal](http://www.ncl.ucar.edu/D

[2021-03-09 20:28] andersy005 commented on #124
I'm not familiar with NCL's spectra functionality, but I recommend to anyone looking into porting this in geocat-comp to look into the xrft package: https://xrft.readthedocs.io/en/latest/index.html

[2021-03-10 02:20] adamrher commented on #124
related issue: https://github.com/NCAR/geocat-comp/issues/43

[2021-03-11 17:05] pilotchute commented on #16
smthClmDayTLL notes:
  - calls only two external functions:
   - ezfftf_n
   - ezfftb_n

[2021-03-15 23:55] erogluorhan opened #126 "Boiler plate shouldn't obligate chunked Xarray"
Boiler plate of at least `linint2` obligates that if the input is an `Xarray.DataArray` then it should always be chunked. This current implementation throws exception when an unchunked xarray is given.

This flow should be corrected and the user shouldn't be obliged to:

1. Give a chunked `Xarray` in every case
2. Use DASK parallelization if they didn't explicitly want so.

[2021-03-17 18:44] erogluorhan commented on #124
Thanks all for your contribution!

We will soon start working on this.

[2021-03-17 19:07] erogluorhan commented on #72
This is going to be addressed once PR #128 and [GeoCAT-examples PR #316](https://github.com/NCAR/GeoCAT-examples/pull/316) are merged.

[2021-03-18 15:51] pilotchute commented on #17
overarching: https://github.com/NCAR/geocat-comp/issues/124

[2021-03-18 15:52] pilotchute commented on #43
Overarching: https://github.com/NCAR/geocat-comp/issues/124

[2021-03-18 21:11] michaelavs opened #130 "Re-visit skewt_params after MetPy version release"
MetPy will release its next version about mid-June. The upcoming Summer 2021 release should include the function to calculate Showalter Index, which is used in skewt_params. We will need to reopen skewt_params once the release happens to remove the hard coded index and replace it with the MetPy version.

[2021-03-19 11:05] CHIRANJIT007-HUE opened #131 "unable to install geocat in windows"
Hey everyone,
                        I am unable to install the GeoCAT using 'conda install -c ncar geocat-comp' this conda run. Any help would be appreciated.

[2021-03-19 15:55] strandwg opened #132 "Vertical interpolation to pressure levels from CAM hybrid sigma levels"
This functionality would serve the same purpose as the NCL functions "vinth2p*", documented here

https://www.ncl.ucar.edu/Document/Functions/Built-in/vinth2p.shtml

A quirk of those NCL functions is that they can only operate on 2-dimensional lat/lon grids, not the 1-dimensional SE grid that can be used in CAM, so a replacement would need to include that ability.

Thanks!

[2021-03-19 21:03] #72 closed

[2021-03-22 22:01] clyne commented on #132
Just a quick note of clarification that the CAM-SE and MPAS dynamical cores both employ unstructured grids that are represented in NetCDF as a 1D NetCDF variable for data with 2 horizontal spatial dimensions, and a 2D NetCDF variable for data with 3 spatial dimensions.

[2021-03-23 21:15] dcherian commented on #132
Is the vertical dimension a separate "structured" dimension? If so, the existing GeoCAT function should already work as long as the "core dimensions" are specified properly.

[2021-03-24 23:01] clyne commented on #132
Correct. The vertical dimension is structured.

[2021-03-30 04:06] #97 closed

[2021-03-30 04:41] erogluorhan commented on #132
@strandwg Sorry for the delayed response and thanks for bringing your request!

I would first like to check if you are aware of and had a chance to try GeoCAT's [interp_hybrid_to_pressure](https://geocat-comp.readthedocs.io/en/latest/user_api/generated/geocat.comp.interp_hybrid_to_pressure.html#geocat.comp.interp_hybrid_to_pressure) function, which is Python correspondence for NCL's `vinth2p`.

As

[2021-03-30 04:48] erogluorhan commented on #131
Hi @CHIRANJIT007-HUE ,

Sorry for the inconvenience you are having!

Unfortunately, we do not have a Windows support for GeoCAT-comp; however, the good news is that we are currently investigating it and will hopefully take actions for providing that support.

Please do not hesitate to ask further questions/requests.

Orhan - GeoCAT

[2021-04-01 16:20] #116 closed

[2021-04-01 16:20] #121 closed

[2021-04-01 16:21] #88 closed

[2021-04-01 16:52] #89 closed

[2021-04-01 18:58] #57 closed

[2021-04-01 18:59] #126 closed

[2021-04-02 14:58] #68 closed

[2021-04-13 13:03] vinodkatmos opened #142 "Implementation of ncl sigma2hybrid"
I was wondering if there are plans to translate ncl's sigma2hybrid (https://www.ncl.ucar.edu/Document/Functions/Built-in/sigma2hybrid.shtml) tool by geocat?

[2021-04-29 21:06] katiedagon opened #147 "Spherical harmonic routines"
Are there any GeoCAT versions of the [NCL spherical harmonic routines](https://www.ncl.ucar.edu/Document/Functions/spherical.shtml)? In particular, I'm looking for a python-based solution to the NCL function [gradsf](https://www.ncl.ucar.edu/Document/Functions/Built-in/gradsf.shtml) to compute latitude and longitude gradients on a fixed grid. Thanks!

[2021-04-30 20:05] erogluorhan commented on #147
Hi @katiedagon , thanks for reaching out to us!

Currently there is not any spherical harmonical routine implemented in GeoCAT-comp, but investigating and hopefully implementing `gradsf` would give us an opportunity to dig into the other routines of this family.

The @NCAR/geocat team is currently investigating it, and we will let you know about our findings.

[2021-05-04 08:00] erogluorhan opened #150 "Both Conda and PyPi installations have conflicts for numpy versions between comp and f2py"
**Describe the bug**
While installing GeoCAT-comp from either conda or pip, there are version conflicts that seem to be due to Numpy versions (It looks like Numpy==1.19 was fogotten in `meta.yaml` of GeoCAT-comp and `requirements.txt` of both GeoCAT-comp and GeoCAT-f2py).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new conda environment
2. Either run `conda install -c ncar geoca

[2021-05-04 12:46] pilotchute commented on #150
on it

[2021-05-04 20:56] pilotchute commented on #150
Fixed with release v2021.05.1

[2021-05-04 20:56] #150 closed

[2021-05-14 09:55] ccalvosa commented on #124
Hello @erogluorhan
Has there been an update on the implementation in Python of specx_anal?
Thank you!

[2021-05-14 11:53] erogluorhan commented on #124
Hi @ccalvosa

Thanks for asking! We have assigned these functions to one of our teammates, @pilotchute . He has been investigating and could give further insights.

[2021-05-14 15:34] pilotchute commented on #124
@ccalvosa This is on my schedule to start within the next ten workdays. I hope to have it included in the 2021.06.0 or 2021.07.0 release of geocat.-comp

[2021-05-17 12:46] JPletzer opened #152 "interp_hybrid_to_pressure: 'Frozen' object has no attribute 'index'"
**Describe the bug**
I want to interpolate hybrid model levels to pressure levels. When running the function I get the error message ´'Frozen' object has no attribute 'index'´

**To Reproduce**
Steps to reproduce the behavior:
1. ds = xr.open_mfdataset(<path_to_dataset>)
2. interp_hybrid_to_pressure(ds[<list_of_vars>], ds.aps, ds.hyai, ds.hybi, p0=101325.0, new_levels=nlevels, lev_dim='ilev', meth

[2021-05-17 12:50] JPletzer commented on #152
I did check the dimensions and intended axis selection in the module 'by hand'

![tempsnip_2](https://user-images.githubusercontent.com/22961670/118491228-0d4dbe00-b71f-11eb-91c4-0d0d2b8f3f9a.png)

[2021-05-17 13:24] andersy005 commented on #152
@JPletzer, It's my understanding that this function doesn't support `xr.Dataset` https://github.com/NCAR/geocat-comp/blob/eae0d27f353db2bfae9ae36ad2b615fdca66cf44/src/geocat/comp/interp_hybrid_to_pressure.py#L37

You need to pass a specific variable by replacing `ds[_vars]` by `ds[NAME_OF_A_SINGLE_VARIBLE]`

[2021-05-17 13:38] JPletzer commented on #152
@andersy005 Thank you very much for your quick reply. This clearly is the answer. I don't know why I expected it to work for a dataset instead of an array.

[2021-05-17 13:38] #152 closed

[2021-05-21 10:07] JPletzer opened #153 "hybrid model level to pressure level: AxisError for time dim expanded"
**Describe the bug**

I did calculate the pressure levels for a DataArray with hybrid model levels with `interp_hybrid_to_pressure(data,pres,hyai,hybi,p0=1.)`. I have to mention that I did a time selection with `.isel(time=0)` to keep it simple and computation time at a minimum for testing. This worked well and the next step was to calculate it without timestep selection. Here the error message di

[2021-05-21 12:48] JPletzer commented on #153
Great, thank you for your quick answer!

[2021-05-24 17:33] erogluorhan commented on #153
Hi @JPletzer ,

We think we addressed this issue and will soon incorporate the fix in a pull request (PR). Can I kindly ask you to give it a try when the PR is up (or maybe merged to the main branch) via source code or via conda distribution when we release the newer version (hopefullylate May or early June).

Best

[2021-05-25 06:36] JPletzer commented on #153
Hi @erogluorhan ,

thank you for the quick fix! I will verify the new version with my data and share my results. Please let me know when it is ready.

Best

[2021-05-27 03:24] erogluorhan commented on #153
@JPletzer Please see the PR #155 for this issue for now, and I will also let you know when we have released the newer version that reflects this PR.

[2021-05-28 11:27] JPletzer commented on #153
@erogluorhan

Thank you very much for the notification and your work. I applied the codes changes to interp_hybrid_to_pressure.py and tested my previous posted example. It worked!

A sidenote: There was I calculation time difference, when I used my own pressure levels instead of the `__pres_lev_mandatory__`. This did not come as a surprise because the latter are approx. 20+ levels, while my own pr

[2021-05-28 11:27] #153 closed

[2021-05-28 13:37] erogluorhan commented on #153
Hi @JPletzer thank you very much for your feedback! It is very helpful.

Could you please share your `time_loop_interp_hybrid_to_pressure ` workaround with us? We could reflect it to the code after investigating and acknowledge your contribution in the docs.

[2021-05-28 17:04] pilotchute commented on #16
@hCraker Let's figure out what this actually does, because the description doesn't match the math.
If this is covered by fourier_filters.py, we can close this ticket.

[2021-06-01 11:21] JPletzer commented on #153
Hi @erogluorhan

here is a simplified version of `time_loop_interp_hybrid_to_pressure `, where pressure levels have to be added to the function and are not taken from the dataset itself. The run time approx. stays the same. Let me know wether you can confirm my initial test and if your investigation brought someting useful eventually.

Unfortunately the function is not presented correctly in the c

[2021-06-01 14:59] erogluorhan commented on #153
Thanks @JPletzer ! I will be looking into this while finalizing the code of the original function.

[2021-06-14 19:14] anissa111 opened #159 "S@S functions not written to be compatible with lazy compute"

[2021-06-17 16:35] pilotchute commented on #124
## Specx<?> notes:
### input:
- `x`: uniformly spaced time series data. (example use is monthly data from climate simulations)
- `iopt`: series mean, trend, or nothing, removed from data prior to primary calculation
- `jave`: window width for deniell smoothing. (example user always used 0.1)
- `pet`: percent of series data to be tapered. (not used by example user)
- `scl`: scaling factor. (user ex

[2021-06-17 16:36] pilotchute commented on #124
### Additional info from Adam Phillips:

Here is a direct link to the CVDP-LE output files I was speaking of this morning:
http://webext.cgd.ucar.edu/Multi-Case/CVDP-LE_repository/CMIP6_Historical_1900-2014/CMIP6_Historical_1900-2014.cvdp_data.tar
Each model run (and ensemble mean) have their own .nc file. Choose any single model simulation file, and then grab the following arrays:
nino34 (=raw ni

[2021-06-17 16:50] dcherian commented on #124
This is a typo: it's blackman-tukey https://ocw.mit.edu/courses/earth-atmospheric-and-planetary-sciences/12-864-inference-from-data-and-models-spring-2005/lecture-notes/tsamsfmt_1_12.pdf

I'm amazed anyone uses it!

[2021-06-17 16:54] pilotchute commented on #124
Thanks, I had assumed that the fortran's spelling was correct since I had found this refence to a a 1959 paper: https://link.springer.com/chapter/10.1007%2F978-1-4757-2514-8_8
![image](https://user-images.githubusercontent.com/20648306/122441045-64cb8d80-cf5a-11eb-906c-1227138eddef.png)

[2021-06-17 18:59] pilotchute commented on #124
- [ ] I'm thinking we replace the blackman-tukey calculation for the `specx` output with amplitude result of a standard FFT.
  - this is in line with modernizing the functional components, while providing the same utility.
  - unlikely that blackman-tukey has any advantage over a calculation of intensity done via a vector length result of the complex values returned by numpy's FFT.
- [ ] Does anyo

[2021-07-02 15:52] #159 closed

[2021-07-12 20:33] jerkeeler commented on #76
Hello. Bumping this to see if it is being worked on or there are plans to work on it? Or is one expected to use the mean function from xarray itself going forward?

[2021-07-20 18:12] whannah1 opened #165 "Unstructured Grid Plotting with CellFill method?"
I'm a long time NCL/PyNGL user and I'm a huge fan of plotting unstructured grid data on the native grid. In fact, for E3SM development, using the native grid to plot has helped identify problems that are normally washed out when using regridded data. Specifically, I think it is especially valuable to have the "CellFill" mode available in NCL and PyNGL using user provided mesh information, usually

[2021-07-21 17:22] clyne commented on #165
I just wanted to add that the GeoCAT team has been awarded a three-year NSF grant to provide better support for unstructured grids. The project, called Raijin, should kick off in early fall. We should be making a formal announcement with additional details later this summer.

[2021-07-21 17:39] whannah1 commented on #165
Something else that might be worth pointing out is that there are very few options for creating an accurate visual representation of spectral element data. The CellFill method in NCL/PyNGL is great for FV data because each data point represents an area average. However, with spectral element data each point represents a nodal value that does not correspond to an area or volume. For dynamics grid d

[2021-07-26 15:47] erogluorhan opened #168 "CI tests started to fail for py3.6"
**Description**
Please see these [CI checks](https://github.com/NCAR/geocat-comp/actions/runs/1067932955) to see Ubuntu and macos tests fail for python 3.6 on `main` branch.

@anissa111 @hCraker @pilotchute I have assigned all of you just to leave it to you who actually would fix it.

[2021-07-26 18:05] hCraker commented on #168
All of the errors are the same (shown below)
[code]

This is a [future statement](https://docs.python.org/3/reference/simple_stmts.html#future) which tells the compiler that a module should be compiled using semantics that will be available in a later release of Python. `annotations` is a [future feature](https://docs.python.org/3/library/__future__.html) that is only supported in Python 3.7.0 and

[2021-07-26 18:17] anissa111 commented on #168
I'm okay with dropping support for python 3.6. I believe we've considered it before when something else conflicted.

My personal choice would be to use the newest versions of xarray and drop 3.6 support, what does everybody else think @erogluorhan @pilotchute @michaelavs?

[2021-07-26 18:29] erogluorhan commented on #168
I am fine with stopping our py3.6 support

[2021-07-29 18:39] #168 closed

[2021-08-03 19:42] smileMchen opened #174 "conda create -n ncl_to_python"
I have installed conda in cheyenne. However, the command below seems not working.

**conda create -n ncl_to_python -c conda-forge xarray netcdf4 scipy pyngl pynio ncl**

The message on screen is:

**Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.**

Below is conda info:

     **act

[2021-08-04 09:51] #174 closed

[2021-08-10 23:17] erogluorhan commented on #130
@michaelavs FYI: They released v1.1.0 of MetPy that has showalter_index calculations (as of 8/9/2021)

[2021-09-07 20:37] hCraker opened #181 "Add links to doc pages for NCL counterparts"
The geocat-comp documentation pages should link to each function's NCL counterpart(s) in order to aid in helping users search the ReadTheDocs site for the functionality they need.

These links can be added as an endnote to the function docstring using the following format:
[code]

[2021-09-15 21:04] anissa111 opened #184 "heat_index computes in serial only"
**Describe the bug**
heat_index is not computing in parallel

**Expected behavior**
Should be able to run in parallel when using dask and xarray

[2021-10-07 14:10] JPletzer opened #188 "interp_hybrid_to_pressure label"
**Describe the bug**
When applying the function interp_hybrid_to_pressure() to a variable the label of the resulting plot is changed to '_vertical_remap_<some_numbers>'

**Expected behavior**
I expected that the label shows the variable name like without the interpolation

**Screenshots**
![vmap](https://user-images.githubusercontent.com/22961670/136400004-083917a1-32b2-42c6-b426-f5439137b37e.PNG)

[2021-10-13 16:37] JPletzer commented on #188
Thank you! It would bei great to have a 'keep_attrs' argument like xarray offers for the Interpolation as well. Sorry to mention that only on the side now.

13.10.2021 17:38:00 Orhan Eroglu ***@***.***>:

[2021-10-15 18:49] erogluorhan commented on #142
Hi @vinodkatmos , thanks a lot! Please have a look at our latest version v2021.10.0, just released on Anaconda and PyPI, and let us know if the function 'interp_sigma_to_hybrid' (for NCL's sigma2hybrid) works fine.

[2021-10-18 16:33] anissa111 opened #192 "Form feature request: additional humid heat metrics"
From: Luke Parsons

I saw in the tutorial that you included Heat Index, but other humid heat metrics could be helpful as well (sWBGT, WBGT, etc. as these are standard for ILO, other large reports on humid heat impacts on global labor). Buzan et al., 2015 came up with a coding package to do this for CLM I think. More recent work (e.g., Li et al., 2020, Env. Res. Lett.) calculated sWBGT from CESM La

[2021-10-18 23:51] andersy005 opened #193 "Unable to install geocat-comp + geocat-f2py in an existing environment on Linux via conda/mamba"
**Describe the bug**

I'm currently unable to install `geocat-comp` and its dependencies (namely `geocat-f2py`) in an existing environment. My hunch is that this has to do with the restrictions on what compilers are compatible with `geocat-f2py`. I say this because **I was able to install `geocat-comp` and its dependencies in a brand new environment** via `mamba create -n test -c ncar -c conda-for

[2021-10-19 10:28] vinodkatmos commented on #142
Hi @erogluorhan ,
Thanks a lot.
Probably I am doing something completely wrong. I am not even able to import geocart.comp
Trying to import geocart-comp throws the following error

`ImportError: /u/vinodkum/conda-envs/spyder_env/lib/python3.7/site-packages/geocat/comp/_ncomp.cpython-37m-x86_64-linux-gnu.so: undefined symbol: rgrid2rcm`

I have already tried uninstalling and installing geocart-comp

[2021-11-04 15:37] vinodkatmos commented on #142
Hi @erogluorhan , sorry for the late response. It took me some time before I could test interp_sigma_to_hybrid. However, I am facing two difficulties in using this file for WRF_Chem output
1. With the current implementation, it seems not possible to interpolate concentration fields directly. By default, the concentration fields have units of ppm which are not recognised by metpy. We need to conver

[2021-11-04 16:32] erogluorhan commented on #142
Hi @vinodkatmos , thanks a lot for the detailed feedback! We will soon start analyzing these, and your feedback will be much helpful. I will keep you updated!

[2021-11-27 20:11] hCraker commented on #181
Hi all. I went through our documentation and noticed that some of the links were not formatted properly. I'm reopening this issue because of that. I'm going to go through and fix them when I get the time, but for now this is the list of pages with ill formatted links:

- [ ] [actual_saturation_vapor_pressure](https://geocat-comp.readthedocs.io/en/latest/user_api/generated/geocat.comp.crop.actual_s

[2021-12-15 16:41] #184 closed

[2022-01-05 19:30] #181 closed

[2022-01-18 19:41] hCraker opened #196 "Update `NCL_skewt_2_2` to use geocat-comp's `get_skewt_vars`"
When `NCL_skewt_2_2.py` was originally created, the GeoCAT ecosystem did not have the capability to calculate the values found in the subtitle of the original NCL plot. Now values for CAPE, Showalter Index, Precipitable Water, Pressure of the LCL, and Temperature of the LCL can be calculated and made into a subtitle using the [`get_skewt_vars`](https://geocat-comp.readthedocs.io/en/latest/user_api

[2022-01-18 21:02] hCraker commented on #196
I was not paying attention and opened this issued in comp instead of in geocat-examples. I'm closing it reopening it in the appropriate place. Sorry!

[2022-01-18 21:02] #196 closed

[2022-01-24 13:00] JPletzer commented on #188
Great work!

[2022-01-24 13:00] #188 closed

[2022-01-25 19:37] erogluorhan commented on #17
@hCraker Let us investigate this to see if this would be something you could make progress as part of climatology.

[2022-01-27 14:22] erogluorhan commented on #165
Hi @whannah1 ! I'd like to give you a heads up on this:

We've started working on our Project Raijin, please see its [homepage](https://raijin.ucar.edu/). We are currently developing the [Uxarray](https://github.com/UXARRAY/uxarray) package (as an extension to xarray) to read in and recognize unstructured grid data.

Even though you seem to be more interested in the visualization aspects of this s

[2022-01-27 15:37] whannah1 commented on #165
@erogluorhan glad to hear the Uxarray is underway! I'm actually very interested in the analysis potential of uxarray. Specifically, I'd love to be able to calculate horizontal gradients on the unstructured data. I'll take a look at the API and let you know if I have any feedback.

Also, I'm happy to be a beta tester if you have specific things that are ready (I'm pretty good at breaking things 😉 )

[2022-01-27 16:18] erogluorhan commented on #165
That sounds great! Yes, please feel free to open an issue/discussion for any feedback, e.g. operator request, concerns, corrections, etc.

We will start our Uxarray tests soon after merging our first significant set of functions (mostly dataset read-ins), and I am happy to invite/include you in the process when the time comes.

[2022-02-01 20:58] hCraker opened #198 "Allow user to define seasonal boundaries for climatology_average"
**Describe the feature you'd like added to this project**
Currently `climatology_average` does not allow the user to select the seasonal boundaries. Seasonal climatologies are only calculated for the meteorological seasons, which are defined as follows:
- Winter: December, January, February
- Spring: March, April, May
- Summer: June, July, August
- Fall: September, October, November

This function

[2022-02-02 21:30] erogluorhan commented on #20
@anissa111  @hCraker @michaelavs This could be a good next function to implement. @hCraker, This could be also worked with IITM collaboration.

[2022-02-07 13:51] ccalvosa commented on #124
Hi @pilotchute,
Is there any update of these functions?
Thx!

[2022-02-07 19:31] pilotchute commented on #124
I've been out on medical leave, I'm resuming work part time. Though I think that our analysis of the specx_<> function showed that they were developed prior to current signal processing techniques, and could (should?) be replaced by standard sp library functions.

My personal investigations (and interrogatory discussions with one of our scientists who uses the function) suggested that numpy's FFT

[2022-02-09 18:19] jaredalee opened #199 "module 'geocat.comp' has no attribute 'rgrid2rcm'; cannot import name 'rgrid2rcm' from 'geocat.comp'"
Note that I posted this as Issue # 40 in the GeoCAT github (https://github.com/NCAR/GeoCAT/issues/40), because I didn't initially realize the difference between geocat and geocat-comp repositories. So here's my issue:

I'm wondering if anyone can help me here. This is the first time I've tried to use geocat routines in my Python scripts (I'm a former NCL user, but have fully pivoted to Python). I'

[2022-02-09 21:08] jaredalee commented on #199
I was able to resolve this particular issue by loading the new conda-based NCAR Python environment (https://arc.ucar.edu/knowledge_base/83853599). Apparently my old personal clone of a now-deprecated ncar_pylib environment was somehow causing problems, even though I loaded the geocat-comp 2021.10.0 package into it. I would like to suggest that the geocat-comp installation page could be modified to

[2022-02-10 00:14] jaredalee opened #200 "rgrid2rcm and chunking"
I'm trying to regrid data from a rectilinear grid (CAMS) to a curvilinear grid (CMAQ), so I'm trying to use geocat.comp.rgrid2rcm. I'm including the code that will give information about the

[code]
That yields this output:

[code]

As you can see, I'm passing rgrid2rcm xarray.DataArray variables, all with consistently named dimensions. I have no idea how to solve the chunking issue, though, as I'

[2022-02-10 20:45] jaredalee commented on #200
Just wondering if the issue with rgrid2rcm is the same as the one mentioned in issue #126. It does seem like rgrid2rcm requires chunked xarray.DataArray variables, which seems suboptimal to me (especially when it's not clearly mentioned in documentation for functions), as not everyone wants to chunk variables or use dask. Is this an issue that's present across many other geocat-comp functions as w

[2022-02-15 16:32] erogluorhan commented on #199
Hi @jaredalee !

Is the issue you are having with inputs to `rgrid2rcm`the one you mentioned in Issue #200 or something else?

In addition, your suggestion of putting NCAR HPC-related info to GeoCAT-comp docs is important! We haven't put any information specific to our own NCAR HPC clusters because GeoCAT toolkits have a worldwide user base. In addition, conda environments might require the user's

[2022-02-15 17:07] jaredalee commented on #199
Hi @erogluorhan, this particular issue is separate from Issue #200.

I still think including a simple extra note on the webpage for NCAR HPC users would be quite helpful and more user-friendly, as it lowers the bar for being able to start using geocat-comp by avoiding the hassle to create and maintain a separate conda environment just for use with geocat-comp. Other NCAR-developed tools (like NCL)

[2022-02-15 17:07] #199 closed

[2022-02-15 17:42] erogluorhan commented on #199
Thanks a lot, Jared! This was quite helpful, and we will certainly take this into consideration.

[2022-02-15 18:41] erogluorhan commented on #200
Thanks for data sets! Just accessed them and will let you know soon what I find here!

[2022-02-15 20:57] erogluorhan commented on #200
@jaredalee I found at least one bug in our implementation that we'd need to fix likely in this month's release, but am still working to get your case working. I will let you know

[2022-02-16 13:39] erogluorhan commented on #200
Hi @jaredalee , `rcm2rgrid` function is also designed to work with either chunked or unchunked xarrays, as well as numpy arrays. However, there is an implementation error in the function. I am working on both fixing the bug to make a quick release (for this I will need to do some tests on my fix) and finding an intermediate usage for you while waiting for that bug-fix release.

[2022-02-16 15:25] jaredalee commented on #200
Thanks for the update and for digging into this. Please do keep me posted as you find an intermediate solution and then do a bug-fix release.

[2022-02-16 16:46] erogluorhan commented on #200
I have a quick fix that would get your case working, but you'd need to clone geocat-f2py, build that from the source code after making a very little code change, then calling our function with converting all xarray inputs to numpy (simply by adding .values to each of them).

This'd be  about 15-30 minute fix on your end; please let me know if you'd like to try it, then I will give you step-by-step

[2022-02-16 20:31] erogluorhan commented on #193
@andersy005 I just wanted to give you a much-delayed heads up: Yes, conda-forge way makes sense to me as well. I am planning to work on this issue, taking into account conda-forge option, soo and will keep you updated.

[2022-02-17 00:02] jaredalee commented on #200
Sure, I can try that. Please send instructions when you're able. Do you think a bug fix release for this might come out next week, or would it be longer than that? And does this same bug also affect `rcm2rgrid`?

[2022-02-17 00:27] erogluorhan commented on #200
We will do our best to release the bug-fix ASAP (would assume next week) but this bug might be combined with some other improvements; will keep you posted there. And yes, this bug is also applicable to `rcm2rgrid `.

Below are what you can do in the meantime to get our case up and running:

1. Clone the geocat-f2py git repo to your glade working environment.
2. Go to geocat-f2py directory, then op

[2022-02-17 22:33] jaredalee commented on #200
I just tried all this (noting that the file after I cloned the repo is /src/geocat/f2py/rcm2rgrid_wrapper.py, not rcm2rgrid.py), but I get an error that geocat.comp cannot find rgrid2rcm:

[code]

It might be worth noting here that runing `pytest test` as suggested on the geocat-f2py installation from source guide yielded quite a few errors:

[code]

So presumably something is messed up with my co

[2022-02-18 19:17] jaredalee commented on #200
Based on your comments I went back to my build of geocat-f2py from source. I found that the problem was that I had intel compilers loaded, not gnu compilers. Once I made that switch, `build.sh` worked fine, and `pytest test`  passed all tests. (I built geocat-f2py from source in a new Python environment as the instruction guide said to do, rather than building it within my NCAR python environment—

[2022-02-18 22:40] jaredalee commented on #200
Maybe this is part of other bugs that will be fixed in the upcoming release, but I've found something quite curious. When I have these lines of code:

[code]

The first option works fine, but the second option throws an error:

[code]

I'm not understanding why the function works when I pass cams_lon.values as my 1d longitude variable to rgrid2rcm, but it simultaneously fails when I pass cams_lon2

[2022-02-22 20:35] erogluorhan commented on #200
In fact, this function and all the others (if I am not missing any) under GeoCAT-comp are designed to consume Xarray inputs. However, it turns out we forgot to add that information into the function documentation as well as we had a bug with Xarray inputs in this specific function (and maybe rcm2rgrid). The upcoming bug-fix release will get the functions working with Xarray inputs just fine (to fi

[2022-02-22 20:37] erogluorhan commented on #200
That bug is most likely because I can see that in the second example, you called the function with the `cams_o3_this_ppb` data array argument in Xarray format (i.e. not with `.values`), so it looks basically like the exact same bug we mentioned so far.

[2022-02-23 23:07] erogluorhan commented on #200
Hi @jaredalee the bug-fix for GeoCAT-f2py is released at Anaconda and PyPI, so please `conda install` or `pip install` it and give it a try when you have time. I confirmed that rgrid2rcm works with both Numpy and Xarray (either chunked or unchunked) inputs, but please let me know if you encounter any issues.

Please note this is a quick bug-fix release to get you up and running with the function,

[2022-03-07 18:42] jaredalee commented on #200
Hi @erogluorhan, I finally got around to testing your updated geocat-f2py release, but it seems to have broken things. Now I'm getting this error:

[code]

I get the same error regardless of which conda environment I have activated, whether the environment based/cloned off of the NCAR Python Library, or the custom one I made for custom-installing your prior interim fixes for the `rgrid2rcm` functi

[2022-03-07 21:57] erogluorhan commented on #200
Hi @jaredalee , thanks a lot for the feedback! I will look into it as soon as I can and will let you know.

[2022-03-08 19:08] erogluorhan commented on #200
Hi @jaredalee , I had a chance to look into it this morning. Here are my findings; I hope they are helpful for you:

- The issue you are having looks like a namespace issue, but in fact, I didn't make any changes that would impact the geocat.comp namespace handling.
- However, your feedback allowed me to double-check our conda release files and I noticed I did only upload OSX version of geocat-f2p

[2022-03-08 20:48] jaredalee commented on #200
Hi @erogluorhan, thank you much for those suggestions. After updating via `conda update geocat-f2py`, now my script works perfectly. I believe at this point the issue can be closed from my perspective, unless you need to keep it open until the the PyPI issues are fixed and the future more comprehensive update is released. I really appreciate all your help in getting this function to work for me!

[2022-03-08 21:26] erogluorhan commented on #200
That sounds great, @jaredalee ! Let me keep this open until I think I have addressed other things (PyPI and improvements); I'd close after then. We also welcome your feedback regarding `rgrid2rcm` performance if you get to experience any.

Best,

[2022-03-09 19:10] katiedagon commented on #147
Thanks for following up on this @erogluorhan! I will be excited to try out this new GeoCAT functionality.

[2022-03-10 07:56] pilotchute commented on #147
@katiedagon
I've got a jupyter notebook using the upcoming spherical.py functions which (I think) produces the same outputs at gradsf.

![image](https://user-images.githubusercontent.com/20648306/157614470-cdab4aa2-87d7-4880-b621-777e0d53b5c1.png)

[2022-03-11 01:21] katiedagon commented on #147
@pilotchute very cool to see this. Let me know if it would be helpful for me to test anything out in your notebook. Thanks so much for your work on this!

[2022-03-11 07:04] lamaliang opened #204 "interp_hybrid_to_pressure chunks problem."
Hello

I use intake to read CESM2-LENS data to convert hybrid sigma level coordinate to pressure from AWS.
Therefore, I used the function - interp_hybrid_to_pressure to convert.

There are some error information about chunks as following:
 Chunks do not add up to shape. Got chunks=((32,),), shape=(30,)

python script is as following :

hov = interp_hybrid_to_pressure(utc,ps,hyam,hybm,p0=p0,new_lev

[2022-03-11 16:49] pilotchute commented on #147
@katiedagon Sure, how would you like me to send you the notebook?

[2022-03-11 17:26] katiedagon commented on #147
If you have the notebook in a github repo you could point me that (or a location on glade)? Or I could wait for the pull request to go through, since I think I'll also need the new geocat-comp code to test the functionality.

[2022-03-11 18:13] erogluorhan commented on #204
Hi @lamaliang , we have received your issue and will look into it as soon as we can. Thanks a lot!

[2022-03-11 18:36] erogluorhan commented on #204
Hi @lamaliang , the error

"Chunks do not add up to shape. Got chunks=((32,),), shape=(30,)"

indicates that your input array shape starts with (30, ) but you attempted to chunk (32, ). However, from this:

"utc is xarray.DataArray (lev: 32lat: 192 lon: 288)",

your input array seems to start with (32, ). So, could you please make sure your data `utc` is actually starting with (32, )? If you think

[2022-03-12 06:29] pilotchute commented on #147
I'll just copy the functions into a notebook, and email it to you.

[2022-03-12 08:12] pilotchute commented on #193
Taking over this, new greyskull tool on conda-forge should make this relatively easy.

[2022-03-14 06:51] lamaliang commented on #204
Hello @erogluorhan

Sorry, the late for reply.
I found the problem, the level coordinate are difference between hyam, hybm and original data. I had solved the problem.

Sorry, it is my mistake.

[2022-03-14 21:07] pilotchute commented on #193
on the staged-recipes repo, we are getting successful conda builds on darwin and linux.

[2022-03-15 18:53] erogluorhan opened #206 "meteorology.py Needs Deprecations Addressed"
Hi @anissa111 ,

There are several of "FutureWarning: xarray.ufuncs is deprecated. Instead, use numpy ufuncs directly" warnings in `meteorology.py`. I think you'd be the best candidate to fix them as you know the internals of the functionality in the module.

[2022-03-15 19:01] anissa111 commented on #206
I'll take a look at this!

[2022-03-15 19:07] judithberner opened #207 "Vinth2p_ecmwf"
For the new AMP diagnostic framework we would really like to have the functionality of
Vinth2p_ecmwf to extrapolate values  below the ground. Using an ECMWF formulation.
The corresponding NCL function is here:
https://www.ncl.ucar.edu/Document/Functions/Built-in/vinth2p_ecmwf.shtml

[2022-03-15 19:18] adamrher commented on #207
Adding that it would be nice if this functionality didn't require the right most dimensions to be lat-lon, like in the original ncl routine ... so that we can at least adapt it to work for unstructured grids by looping over the number of columns.

[2022-03-15 19:19] adamrher commented on #207
also noticing this is already an issue: https://github.com/NCAR/geocat-comp/issues/132

[2022-03-15 20:07] adamrher commented on #207
I see now that you took special care to allow it to work for unstructured grids in the thread https://github.com/NCAR/geocat-comp/issues/132 (great!)

vinth2p_ecmwf is unique because it will extrapolate to values below the surface using TBOT and PHIS ... this is needed for computing e.g., Z500-Z1000 geopotential thickness. Is this a feature of ```interp_hybrid_to_pressure```?

[2022-03-15 22:08] judithberner commented on #207
Adam is right on. I believe interp_hybrid_to_pressure is equivalent to vinh2p which produces NaN below the surface. We would like to have the functionality of vinh2p_ecmwf which extrapolates below the surface for the reasons Adam  explains.

[2022-03-15 22:14] judithberner commented on #207
FYI  @Willychap

[2022-03-16 09:31] ccalvosa commented on #124
Hi @pilotchute,
Last weeks we tried to analyze the datasets with numpy and scipy functions and finally we achieved it.
Thank you for everything!

[2022-03-17 19:11] #206 closed

[2022-03-18 21:35] pilotchute commented on #124
reducing priority as functionality exists in numpy/scipy. Will not close as a single call function within geoat-comp to do the signal processing would be a good enhancement.

[2022-03-18 21:37] pilotchute commented on #124
@ccalvosa would you be willing to show me what your solution was? It would help us add an enhancement to make your process of recreating specx_anal into a single function call.

[2022-03-24 16:21] erogluorhan opened #212 "PyPI Namespace Issue with GeoCAT-f2py"
**Description**
When GeoCAT-comp is installed via PyPI (i.e. `pip install geocat-comp`), importing  GeoCAT-f2py functions through GeoCAT-comp gives errors, e.g. `from geocat.comp import rgrid2rcm`

**To Reproduce**
Steps to reproduce the behavior:
1. `conda create --name geocat python=3.9`
2. `pip install geocat-comp`
3. Go to your IDE, e.g. in PyCharm, choose your interpreter to be the "geocat" e

[2022-03-29 20:32] hCraker opened #213 "Clarify installation and updating instructions"
Clarification on how to update and install geocat packages in a pre-existing environment was requested in this issue https://github.com/NCAR/GeoCAT/issues/43. After speaking with the user who suggested these changes, it was determined that she was looking at the geocat-comp documentation. These instructions are being added to the contributor's guide https://github.com/NCAR/GeoCAT/pull/47,  but als

[2022-04-03 08:59] Happy-fish-yu commented on #124
Hi, @pilotchute
Is there any update of these functions? I‘m looking forward to using this function in the future :)

[2022-04-04 16:41] pilotchute commented on #124
@Happy-fish-yu The specx_<> functions are old (from the 1970s) and similar (and inferior) to the DFT and FFT functions developed after them.

If you would like to tell me more about your use case, I may be able to either implement a function that simplifies the use the FFT (or DFT for irregularly spaced data), but for now we are not working on this family of functions.

[2022-04-07 14:26] erogluorhan commented on #200
Hi @jaredalee , as we now released the comprehensive improvements as well as scheduled the PyPI fix in our agenda, we are good to close this issue. I'd also like to say that we are working on our documentations to include some NCAR HPC-related guidance as you pointed out in Issue #199.

Please feel always free to provide your feedback, reports, requests!

[2022-04-08 04:26] erogluorhan commented on #132
Thanks @andrewgettelman ! It was also mentioned in Issue #207 and we are currently looking into it.

[2022-04-08 04:43] erogluorhan commented on #207
@adamrher @judithberner Thanks a lot for the input! I am currently looking to see if we could add extrapolation as an optional argument to our `interp_hybrid_to_pressure` function.

[2022-04-11 21:38] pilotchute opened #215 "Spherical Gradient Functions."
**Describe the feature you'd like added to this project**
Access to xarray compatible spherical gradient functions that are comparable to gradsf, gradsg, etc. from NCL.

**Link to original NCL functionality, if applicable**
[gradsf](https://www.ncl.ucar.edu/Document/Functions/Built-in/gradsf.shtml)
[gradsg](https://www.ncl.ucar.edu/Document/Functions/Built-in/gradsg.shtml)

**Links to other exampl

[2022-04-11 21:39] pilotchute commented on #147
Spherical harmonics released.
Issue for spherical gradient feature request in #215

[2022-04-11 21:39] pilotchute commented on #147
closing.

[2022-04-11 21:39] #147 closed

[2022-04-16 02:57] pilotchute commented on #215
@katiedagon
I have a gradient function for the wgs84 model in the [gradient](https://github.com/NCAR/geocat-comp/tree/gradient branch)

[2022-04-18 16:07] katiedagon commented on #215
Thanks @pilotchute, I will take a look at this [gradient function](https://github.com/NCAR/geocat-comp/blob/gradient/src/geocat/comp/gradient.py) and the notebook that you sent by email.

[2022-04-19 14:35] #213 closed

[2022-07-13 15:07] hCraker opened #229 "Weighted correlation funtion"
**Describe the feature you'd like added to this project**
A user requested functionality for weighted correlation along with weighted standard deviation, variance, sum, and mean. This issues addresses only the weighted correlation request.

**Links to other examples, if applicable**
[Scipy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html) has an unweighted 1D version

[2022-07-13 15:15] hCraker commented on #229
@NCAR/geocat [xskillscore.pearson_r]() does all of what the user requested in what appears to be linear time. We already have quite a few dependencies for geocat-comp. Would anyone be opposed to adding another one?

Pros:
- including xskillscore avoids duplicating effort
- faster implementation for this user request
- function already has great documentation with an example

Cons:
- adding a 10th

[2022-07-13 15:42] erogluorhan commented on #229
Thanks for exploring and asking these!

[xskillscore](https://github.com/xarray-contrib/xskillscore) seems like a lightweight interface through [accessors](https://docs.xarray.dev/en/stable/internals/extending-xarray.html) on top of Xarray like many other [xarray-contrib](https://github.com/xarray-contrib). It makes Xarray Dataset(or Array) look like it has directly the functions (correlation and

[2022-07-19 15:06] hCraker commented on #229
@erogluorhan

Their repo follows all of the development standards (unit tests, code coverage, CI tests) so I'm confident that the implementations have been validated. The only concern is that no contributions have been made in the last month, and the repo is very quiet. I have reached out to the developers to see what the status of the package is (active dev or maintenance) in a [discussion post](

[2022-07-22 18:22] hCraker commented on #229
xskillscore is being maintained but is allowing contributions as they come in. @erogluorhan and I have settled on adding xskillscore as a dependency, wrapping `pearson_r` in geocat-comp, and working to improve performance of `pearson_r` in the future. This way we can get the function incorporated into comp asap.

[2022-07-28 18:30] benjamin-cash commented on #207
I would just like to add my support for adding this feature to the code. https://www.ncl.ucar.edu/Document/Functions/Built-in/vinth2p_ecmwf.shtml was a highly valued capability within NCL that I would love to see brought over.

[2022-07-28 19:37] erogluorhan commented on #207
Hi @benjamin-cash , thanks for your input! I'd like to ask you, @adamrher , and @judithberner , and maybe others to see if you'd be willing to contribute to this (maybe you had any workaround for this in Python that you may want to add to GeoCAT, etc). Otherwise, we will do our best to timely add this!

[2022-07-28 21:22] benjamin-cash commented on #207
Unfortunately I don't have a python workaround - I've actually been contemplating dusting off my ncl coding to do this. ::yikes::

[2022-08-03 18:11] hCraker commented on #207
Hi all. I'll be taking on implementing this in geocat-comp. I noticed that the NCL function references math from a paper that is nearly 30 years old. @benjamin-cash @judithberner @adamrher Do you all know if this math still relevant or is there a more recent formula/algorithm for extrapolating below ground?

Paper in question: http://dx.doi.org/10.5065/D6HX19NH

[2022-08-03 18:27] benjamin-cash commented on #207
I think this is a case of if it ain't broke don't fix it, but I've asked one of my colleagues to weigh in. I don't think he's on github so I'll post what he says when responds.

[2022-08-03 19:55] hCraker commented on #207
Wonderful thank you! I've done a preliminary search for new papers on this topic, but the algorithm used in the NCL function still seems to be the standard. If there is a newer algorithm I missed, just let me know! I'll read up on the existing one for the time being.

[2022-08-03 20:05] benjamin-cash commented on #207
My guess is that there isn't and that this is still the way to go, but will definitely let you know when I hear from him.

[2022-08-03 22:19] adamrher commented on #207
im sure the physics are sound, given the authors and the fact that it's a NCAR tech note.

[2022-08-03 22:39] benjamin-cash commented on #207
I think there is no question it's sound, just whether or not there have been any updates/improvements since then.

[2022-08-04 18:32] benjamin-cash commented on #207
Hi @hCraker - From what I can determine the method detailed in the '93 tech memo is still the gold standard, so I think porting over the current implementation is the way to go. :)

[2022-08-04 18:57] Marston opened #235 "Function arguments order"
Attempting to use this function:
https://geocat-comp.readthedocs.io/en/latest/user_api/generated/geocat.comp.triple_to_grid.html#geocat.comp.triple_to_grid
but noticed that the arguments are not in order in the example and the function definition.
I tried using it but got the error:

`triple_to_grid: The length of `x_in` and `y_in` must be the same as the rightmost dimension of `data`!`

[code]

I

[2022-08-04 21:09] Marston commented on #235
Also, could you please check the documentation page, well, it does not match with the function arguments and there are statements there that are not used.

[2022-08-05 14:03] hCraker commented on #207
@benjamin-cash @adamrher Wonderful thank you both for providing your expertise! I'll continuing reading this paper and working on a Python implementation.

[2022-08-08 12:42] rejianup commented on #124
Hii,@pilotchute,
   As you mentioned, other components of specx_  can be calculated with scipy or NumPy. However, calculating the theoretical Markov spectrum and lower and upper confidence curves using the lag1 autocorrelation mentioned "specx_ci' is not possible with any function in python. confidence curves are important in explaining the significance of a scientific study.

[2022-08-11 15:41] anissa111 commented on #235
Hello @Marston! This is currently being looked in to and will be addressed soon. Thank you for reporting this issue!

[2022-08-12 16:52] anissa111 commented on #235
@Marston, this has been addressed, thank you! We will be reviewing similar changes for more docstrings in this project imminently.

[2022-08-12 17:11] anissa111 commented on #235
Also! Just to be clear, the geocat-comp docs still appear incorrect for the time being. We are also looking at how we're updating these docs. The function here is actually coming from geocat-f2py, which has its own docs [here](https://geocat-f2py.readthedocs.io/en/latest/). The docs for this function are updated there. The docs for geocat-comp will be updated when a new release of geocat-f2py is m

[2022-08-15 15:59] Marston commented on #235
Hi,

Wonderful! I was also looking at the f2py docs but when I tested the function it didn't work either. I appreciate you guys addressing this. I was an avid fan of the NCL project. It was the best software package for meteorologists and researchers in the filed. Happy to see it is somewhat resurrected here. Hope to see the full suite back on the market soon. Something I would definitely purchase

[2022-08-15 16:24] anissa111 commented on #235
@Marston, I will continue to look in to this, then. Sorry for all the trouble it's giving you!

Thank you for your input on this project, if there are any functions you'd like to see implemented, we do try to prioritize user requests! Also, the entirety of the project will remain open source and free for use, no need for purchase.

[2022-08-15 17:58] Marston commented on #235
Hi,

Thanks. Could you post the exact call to the function that works for you?

[2022-08-15 17:58] Marston commented on #235
Btw, when is the next release with the latest bug fixes?

[2022-08-17 17:37] anissa111 commented on #235
@Marston there will be a geocat-f2py release this month with the docstring fix. I can ping this thread again when it is released.

[2022-08-17 18:30] anissa111 commented on #235
Also, here is a solution to the error you are receiving above:

`triple_to_grid` requires `x_in` (your `ilat`) and  `y_in` (your `ilon`) to be the same length. This is because `triple_to_grid` does not assume that the input `data` is on any sort of evenly spaced grid and requires an `x` and `y` value for each point.

Additionally, we need to specify that we are only working with one dimension of d

[2022-08-18 18:48] Marston commented on #235
Hi,

Yes, yes it does. Thank you. Please let me know how this project is developing.

[2022-08-18 18:51] anissa111 commented on #235
Will do! Also feel free to submit requests for any functions from ncl you use and check out the [GeoCAT blog](https://geocat.ucar.edu/)!

[2022-08-18 18:51] #235 closed

[2022-08-22 14:57] #229 closed

[2022-09-01 19:07] erogluorhan opened #239 "UMBRELLA ISSUE: Lead the GeoCAT-comp content for GeoCAT tutorial"
Preliminary GeoCAT-comp plan (~1 hr):
1. Current capabilities through docs overview (e.g. analysis categories, functions under each category, etc.)
2. Demo with notebook(s)
    - Hopefully through a permanent GeoCAT-tutorial repository

[2022-09-01 19:16] erogluorhan commented on #239
FYI: @pilotchute @hCraker

[2022-09-01 19:32] erogluorhan commented on #239
@marodrig Please checkin with @anissa111 to organize things whenever needed .

[2022-09-02 17:06] hCraker opened #240 "Add "Getting Started" section to docs"
**Describe the feature you'd like added to this project**
Currently our docs page doesn't have a "quick start" section like most other PyData packages. Adding a few pages describing why geocat-comp exists, what it is, basic install instructions, and an overview of some of the content would aid new users in getting introduced to the package.

Some potential topics to cover:
- [x] what is geocat-com

[2022-09-02 20:22] #193 closed

[2022-09-02 20:29] anissa111 commented on #165
I'm going to go ahead and close this issue, @whannah1 definitely go check out uxarray! We're always looking for people to kick the tires over there!

Feel free to reopen if there's anything else!

[2022-09-02 20:29] #165 closed

[2022-09-02 20:34] anissa111 commented on #142
Hi @vinodkatmos, sorry this looks to have fallen between the cracks. I am going to open a separate issue for issues with `interp_sigma_to_hybrid` and close this issue.

[2022-09-02 20:34] #142 closed

[2022-09-02 20:35] anissa111 opened #241 "Bug: `interp_sigma_to_hybrid` and WRF_Chem output"
Hi @erogluorhan , sorry for the late response. It took me some time before I could test interp_sigma_to_hybrid. However, I am facing two difficulties in using this file for WRF_Chem output
1. With the current implementation, it seems not possible to interpolate concentration fields directly. By default, the concentration fields have units of ppm which are not recognised by metpy. We need to conver

[2022-09-02 20:43] anissa111 commented on #76
Checking in on this, @jerkeeler, is this a functionality that you would find useful? Is there anything specific that you could see being useful in addition to the xarray function?

[2022-09-02 20:47] anissa111 commented on #66
@pilotchute @hCraker, should this issue be closed?

[2022-09-02 20:51] anissa111 commented on #63
@pilotchute any updated thoughts on this?

[2022-09-02 20:53] anissa111 commented on #43
Closing this issue as duplicated in #124

[2022-09-02 20:53] #43 closed

[2022-09-02 21:06] anissa111 commented on #17
@hCraker, what's the status here? should we break this into separate issues?

[2022-09-02 21:10] anissa111 commented on #6
Closing this in favor of development/implementation elsewhere

[2022-09-02 21:10] anissa111 commented on #6
Closing this in favor of development/implementation elsewhere

[2022-09-02 21:10] #6 closed

[2022-09-06 13:26] hCraker commented on #66
@anissa111
The original request was for multiple climatology functions which includes everything on [this list](https://www.ncl.ucar.edu/Document/Functions/climo.shtml). There was a particular focus on recreating the clm* functions and month to season. The clm* functions were completed and deployed in PR #158.

The month_to_season functions were partially implemented in that same PR. Averages are

[2022-09-06 13:31] hCraker commented on #17
@anissa111 I'm not sure why this is listed as review in progress since there isn't a linked PR. As for the status of this, there was some uncertainty about whether or not this functionality is covered by the Fourier filters that @pilotchute made (see https://github.com/NCAR/geocat-comp/issues/16#issuecomment-796879865). Once the semester started, this went on the back burner since I was part time

[2022-09-06 15:11] whannah1 commented on #165
@anissa111 so is this type of plot not going to be supported by geocat?

[2022-09-06 15:21] anissa111 commented on #165
@whannah1 Not exactly. I closed this issue mostly in routine issue cleaning, as geocat-comp is not where we'd implement such a feature. The GeoCAT team is involved in the development of [uxarray](https://github.com/UXARRAY/uxarray), which is where this type of feature would be implemented.

In short, it's not that we won't look into supporting this type of plot, but that it would go better with Pr

[2022-09-06 16:42] erogluorhan opened #242 "Release v2022.08.0"

[2022-09-06 16:43] erogluorhan opened #243 "Release v2022.09.0"

[2022-09-06 19:19] anissa111 opened #245 "Documentation Improvements"
Planned changes:
- [x] Improved theme
- [x] Improved organization of existing and planned pages
- [x] implement a gallery-style page for migrated and future examples
- [ ] Create more meaningful function groupings (currently half implemented in docs, but not changed at the package level)
- [x] address warnings during doc build process (done in comp, see https://github.com/NCAR/geocat-f2py/issues/1

[2022-09-06 19:21] erogluorhan opened #246 "Draft"

[2022-09-07 18:38] benjamin-cash commented on #207
Hi @hCraker - Just poking my head in to see if there is a rough estimate for when this PR will go through. Thanks for all of your work on this! :)

[2022-09-08 01:59] #246 closed

[2022-09-08 14:51] hCraker commented on #207
Hi @benjamin-cash! Thanks for checking in. I can't make any promises for when this will be finished, but I'd like to have this ready by mid-October at the latest. Some other urgent work came up, and I needed to turn my attention elsewhere. This is still near the top of my to-do list, but it will be on the back burner for the next week or so.

You can check out the linked draft PR to see what has b

[2022-09-08 14:59] benjamin-cash commented on #207
Thanks for the update. :)

[2022-09-08 18:26] erogluorhan opened #247 "Is "Conda Build" badage actually needed?"

[2022-09-10 05:55] #242 closed

[2022-09-12 15:41] hCraker opened #248 "Reorganize function modules and categories"
During the weekly geocat-comp meeting, we discussed reorganizing the modules into more cohesive categories. The discussed changes are as follows:
- [x] util: remove this module since xarray has the same functionality now
- [x] crop:merge with meteorology module
- [x] eofunc: merge with stats module
- [x] errors: consider removing since specific error messages can be easily created
- [x] polynomial

[2022-09-12 15:46] hCraker commented on #248
@pilotchute Could you provide input on whether or not we should remove the polynomial module in favor of xarray implementations? I believe you were one of the main contributors to it. `detrend` appears to be a novel python function, but `ndpolyfit` and `ndpolyval` exist in xarray.

[2022-09-12 18:05] brianpm opened #250 "conda-forge support for osx-arm64 platform (Apple Silicon)"
**Describe the feature you'd like added to this project**
I would like to install geocat with conda on an Apple Silicon Mac (i.e. "M1" or "M2" SOC, aka "osx-arm64" platform). For example:
[code]

**Additional context**
I have been exploring this a bit. It seems like `geocat-comp` itself should be no problem, since it is all python. There might be a slight problem with `geocat-f2py` since it has co

[2022-09-12 22:47] marodrig commented on #250
@brianpm Thank you for taking the time to create an issue for the project. We are currently working on compiling f2py for other platforms, including M1/M2 and Windows.

[2022-09-13 21:03] anissa111 opened #253 "Remove versioning from and delete meta.yml"
See also: #114

Now that we're using conda-forge for releases, we no longer need `meta.yml` in this repository, however `setup.py` uses `meta.yml` to collect the version info. We need to relocate the versioning and then remove `meta.yml`

[2022-09-14 17:23] hCraker opened #254 "Add unit handling functionality to all of geocat-comp"
**Describe the feature you'd like added to this project**
Currently, geocat-comp doesn't handle units to insure that calculations are done correctly. It's the responsibility of the user to ensure that they are inputing data in the correct units. Metpy uses `pint` to handle units and do conversions as needed. It would be helpful to add this functionality to geocat-comp so that users don't have to w

[2022-09-16 15:43] dcherian commented on #254
This already works through [pint-xarray for useful converters](https://pint-xarray.readthedocs.io/en/latest/) and [cf-xarray for UDUNITS support](https://cf-xarray.readthedocs.io/en/latest/units.html)

[2022-09-19 13:40] hCraker commented on #254
Wonderful! Thank you for that info @dcherian

[2022-10-04 16:57] anissa111 opened #258 "UMBRELLA ISSUE: Migration of geocat-comp examples to this repository from geocat-examples"
Migration and adaptation of geocat-comp issues currently [housed in geocat-examples](https://geocat-examples.readthedocs.io/en/latest/gallery-geocat-comp/index.html)

- [ ] Example: [moc_globe_alt](https://geocat-examples.readthedocs.io/en/latest/gallery-geocat-comp/comp_only/moc_globe_atl_example.html#sphx-glr-gallery-geocat-comp-comp-only-moc-globe-atl-example-py) (#287)
- [ ] Update [migrated c

[2022-10-04 17:23] anissa111 opened #259 "Docstring improvements"
Our docstrings could use a little touch up. Feel free to add more points if you have something else!

- [ ] better in-docstring usage examples (formatting, quality, comments, ect)
- [ ] linkage to related gallery examples, if any
- [x] do a check over for consistent formatting
- [x] go through *all* docstrings for correct docs generation
- [x] #271

[2022-10-04 17:25] #240 closed

[2022-10-04 18:29] anissa111 opened #261 "UMBRELLA ISSUE: Testing Improvements"
This is an umbrella issue for tracking various sub-tasks related to testing improvements

- [x] #263
- [x] #289
- [x] #311
- [x] #280
- [x] #290

[2022-10-04 18:29] anissa111 opened #262 "Improve dask cluster handling in tests"
We are currently spinning up and killing more dask clusters than is probably necessary.

Also, testing currently leads to many warnings about existing dask clusters, we should make sure that we're properly shutting down clusters when we're done

[2022-10-04 18:29] anissa111 opened #263 "Reduce unnecessarily large tests"
Part of #261

- [x] Make tests for spherical functions smaller

Other things to consider:
- should we consider a guideline/check for the execution time of tests?

[2022-10-04 18:50] anissa111 opened #264 "Add a link checker"
We should be checking our documentation for broken links.

[2022-10-05 15:17] marodrig commented on #247
The Conda Build badge is different from the CI builds badge. Both badges have different an valuable information, and I think for the time being it's ok to have both.

[2022-10-06 15:35] hCraker opened #265 "Replace and deprecate `climatology` and `anomaly`"
The functions `climatology` and `anomaly` don't appropriately weight monthly data by the number of days in each month. The functions `climatology_average` and `calendar_average` effectively replace `climatology`, but `anomaly` still relies on the inaccurate `climatology` function.

- [x] replace or fix `anomaly`
- [x] add deprecation warning for `climatology`
- [x] add deprecation warning for `ano

[2022-10-07 13:41] erogluorhan opened #267 "Should we keep listing dependencies under Installation docs?"
There is a section named "Required dependencies for building and testing GeoCAT-comp" in `installation.rst`.

It is probably helpful for the reader, but it requires the developers to always make sure the list is up-to-date with the actual dependencies that are listed in `environment.yml`, `requirements.txt`, or conda recipes.

Should we consider reemoving that section or linking the reader to one

[2022-10-07 14:59] erogluorhan commented on #247
Yes, but when you click on the Conda Build badge, it links to [this](https://github.com/NCAR/geocat-comp/actions?query=workflow%3Abuild_test), which shows very old build_tests (the newest is from 2 years ago).

So, even though the idea   of testing Conda builds is good, I think the implementation is not testing up-to-date stuff.

[2022-10-07 15:23] marodrig commented on #247
@erogluorhan Got it. I'll take a closer look into it and update it.

[2022-10-07 15:26] dcherian commented on #267
It's useful to list out if you have optional dependencies for specific features.

[2022-10-07 15:34] erogluorhan commented on #243
No need for September release

[2022-10-07 15:34] #243 closed

[2022-10-07 17:26] erogluorhan opened #268 "Release v2022.10.0"

[2022-10-11 08:49] judithberner commented on #207
That's great, Heather - thank you. I did a quick literature search and
could not find anything newer that is better.
By the way, there is a Tellus article from 1995 which seems to have the
same
content:
https://onlinelibrary.wiley.com/doi/abs/10.1034/j.1600-0870.1995.t01-1-00001.x
Now it sparked my curiosity - if the first author is Kevin Trenberth from
NCAR why is it called
vinth2p_ecmwf?

On Wed

[2022-10-14 18:12] hCraker commented on #207
Hi all. This function took quite a bit of time to create, but a version of it is now being reviewed for the next geocat-comp release. It will be optimized in a future release. You are welcome to review the linked pull request and leave a review if you'd like.

[2022-10-14 22:35] adamrher commented on #207
I am not seeing a to the PR?

[2022-10-18 17:24] anissa111 opened #271 "change package install method to avoid needing to repeatedly pip install from local"
Currently, for docstrings to be updated from local changes, we need to redo a pip install. This is unideal and annoying.

[2022-10-18 21:18] #271 closed

[2022-10-18 21:37] anissa111 commented on #207
@adamrher it is linked above in the "development" side panel! Here is a direct link as well: https://github.com/NCAR/geocat-comp/pull/237

[2022-10-19 03:56] #264 closed

[2022-10-26 19:04] #268 closed

[2022-10-27 02:40] anissa111 opened #277 "Pint issues"
Pint seems to have removed `Quantity` from their top level namespace in their most recent release, 0.20.

This is breaking local installs of the package and our recent 2022.10.0 release.

I think this makes a good case for us pinning package dependencies at their most current compatible level when we make releases, too, since we released a package that was okay and then had a dependency break.

We

[2022-10-27 15:03] anissa111 commented on #215
Closing as completed with #147

[2022-10-27 15:03] #215 closed

[2022-10-27 16:55] #277 closed

[2022-10-27 17:48] anissa111 opened #280 "Dependencies updates can break releases"
Currently, the latest version (2022.10.0) of geocat-comp breaks on import (See [GH actions logs](https://github.com/NCAR/geocat-comp/actions/runs/3333475484/jobs/5515429328#step:6:158))
[code]

PR #277 addresses this, but the published package is still broken.

We should do the following:
- Patch release of 2022.10.0 as soon as possible that includes the pint pinning
- Look in to how other package

[2022-10-27 19:16] anissa111 commented on #280
@dcherian thank you very much, I'll look in to that!

[2022-10-27 23:43] erogluorhan commented on #280
Looks like we already have this infrastructure in our [upstream workflow](https://github.com/NCAR/geocat-comp/blob/main/.github/workflows/upstream-dev-ci.yml), don't we? However, we may want to modify our [upstream environment file](https://github.com/NCAR/geocat-comp/blob/main/build_envs/upstream-dev-environment.yml) to install as many of those dependencies as we want to install from their GitHub

[2022-10-28 12:04] appopson opened #282 "AttributeError: module 'geocat.comp' has no attribute 'dpres_plevel'"
**Describe the bug**
Dear all,
I installed geocat.com  and geocat.f2py using **pip3**.
I imported  geocat.comp

The command I am using is **dp = geocat.comp.dpres_plevel(plev, psfc, ptop)**
I will like to use the geocat.comp.dpres_plevel.

I am having this error

**AttributeError: module 'geocat.comp' has no attribute 'dpres_plevel'**

[2022-10-28 15:45] anissa111 commented on #282
Hi @appopson, thank you so much for reaching out!

I think I know what's going on with your code. We're experiencing a bug right now (see #212) where functions under our geocat-f2py repo are not being properly brought into the geocat.comp namespace when installed with pip.

Here is a [list of the functions](https://geocat-comp.readthedocs.io/en/latest/user_api/index.html#geocat-comp-routines-from-

[2022-11-03 15:13] dcherian commented on #280
Perhaps to keep dependencies at the same versions as in the main env?

The real magic is the automated opening of an issue when the upstream-dev env fails.

e.g. https://github.com/pydata/xarray/issues/7175

[2022-11-03 15:49] erogluorhan commented on #280
Okay, yeah, that automated issue opening looks good!

[2022-11-03 18:35] #248 closed

[2022-11-04 17:33] erogluorhan opened #285 "Add Python 3.11 tests"

[2022-11-04 17:39] erogluorhan opened #286 "Release v2022.11.0"

[2022-11-04 22:13] anissa111 opened #289 "Expand upstream dev testing"
Expand packages included in upstream dev testing

[2022-11-04 22:13] anissa111 opened #290 "Create install/import nightly test"
Create a nightly test that builds, installs, and imports the latest tagged version of the package to catch released package install issues

See related issue: #280

[2022-11-07 17:44] hCraker opened #291 "Add duck array support for comp functions"
**Describe the feature you'd like added to this project**
Many, but not all, of the geocat-comp functions support both `xarray.DataArray` and `numpy.ndarray` objects. This issue is an umbrella issue to ensure `numpy.ndarray` and array-like objects are supported in all public facing comp functions.

**Known functions without array-like support**
- `interpolation.interp_hybrid_to_pressure`

Please a

[2022-11-07 21:25] #259 closed

[2022-11-11 20:56] anissa111 opened #292 "Vertically Integrated Moisture Flux Convergence (VIMFC)"
New functionality request: Vertically Integrated Moisture Flux Convergence (VIMFC)

NCL Links:
- Script: https://www.ncl.ucar.edu/Applications/Scripts/mfc_div_1.ncl
- Applications Page: https://www.ncl.ucar.edu/Applications/wind.shtml

Desired functionality:
- python equivalent of above script, both computational and plotting parts
- use above script with WRF data

![image](https://user-images.git

[2022-11-11 20:59] hCraker commented on #292
Potentially related paper where the equation above came from https://agupubs.onlinelibrary.wiley.com/doi/full/10.1002/2016GL071026

[2022-11-11 21:41] anissa111 commented on #292
Potentially relevant ncl-talk discussion: https://mailman.ucar.edu/pipermail/ncl-talk/2019-August/015459.html

[2022-11-14 15:39] hCraker commented on #239
Now that the tutorial is over, I believe we can close this issue. Great work everyone!

[2022-11-14 15:39] #239 closed

[2022-11-14 15:41] hCraker commented on #245
The modules have been reorganized into more meaningful groupings in this PR https://github.com/NCAR/geocat-comp/pull/266

[2022-11-15 14:11] marodrig commented on #212
I found a stack [overflow](https://stackoverflow.com/questions/39811929/package-installed-by-conda-python-cannot-find-it) discussion that might be helpful.

[2022-11-15 15:46] hCraker commented on #267
@dcherian @erogluorhan Currently, `environment.yml` contains comments specifying which dependencies are for tests only. We could have a list on the website that is just the printed out `environment.yml` file as it is.

If we'd rather have `environment.yml` be the leanest possible environment, we could remove the testing only packages and then list the optional/test dependencies on the website manu

[2022-11-16 16:26] anissa111 opened #295 "Add links to geocat-comp functions under NCL documentation"
Currently to find geocat-comp functions that correspond to NCL functions, users have to search the -comp documentation.

It would be nice to link relevant geocat-comp function documentation in the NCL documentation.

[2022-11-16 16:28] anissa111 opened #296 "Add more season options for climatology_average"
@hCraker feel free to expand this issue since you've worked on these functions

[2022-11-16 16:31] anissa111 opened #297 "Add "Release Notes" section to documentation"
Include release notes in "For Developers" section of documentation

[2022-11-16 17:45] hCraker commented on #296
This is a duplicate issue. This is the original one. https://github.com/NCAR/geocat-comp/issues/198 I'll add the same labels to it

[2022-11-16 17:45] #296 closed

[2022-11-16 18:00] #267 closed

[2022-11-16 19:19] hCraker opened #298 "Add a "For Developers" section to the website"
**Describe the feature you'd like added to this project**
This idea was discussed in a related GitHub issue https://github.com/NCAR/geocat-comp/pull/293#issuecomment-1317186940. It would be nice to have a tab on the navigation panel to a "For Developers" page. This page would have information for building documentation and anything else deemed only really useful for contributors and not the genera

[2022-11-17 14:24] erogluorhan commented on #298
This is generally handled in contributor's guides. However, I can see the motivation for this to give very details to any levels of developers. I'd recommend to

- Have a look at UXarray' s Contributor's Guide as it was recently put together and covered some information like pre-commit

- Discuss if we revise Contributor's Guide instead to cover such information (to some extent without populating

[2022-11-17 19:24] erogluorhan commented on #250
@marodrig Looks like this issue is closed automatically thanks to [NCAR/geocat-f2py/ PR #110](https://github.com/NCAR/geocat-f2py/pull/110), but since that PR is reverted with a later PR, I think this issue needs to be reopened, right?

[2022-11-17 19:35] erogluorhan commented on #267
Even though this issue was completed with PR #293 , I notice I missed @hCraker 's comments and question and would like to answer now:

I wouldn't recommend removal of testing only packages because `environment.yml` is the leanest possible environment to get a developer's local environment configured not only for implementation but also for testing. That said, the way PR #293 made the things is the

[2022-11-17 19:55] katiedagon commented on #26
Hi @NCAR/geocat, I'm reviving this issue as I am actively working with @teaganking and @jtruesdal on a workflow that is trying to replicate the behavior of NCL's [dpres_hybrid_ccm](https://www.ncl.ucar.edu/Document/Functions/Built-in/dpres_hybrid_ccm.shtml) in python.

I think what we're looking for is a version of geocat comp's [dpres_plevel](https://geocat-comp.readthedocs.io/en/latest/user_api/

[2022-11-17 20:03] marodrig commented on #250
@erogluorhan Yes, this issue needs to be reopened.

[2022-11-17 21:03] anissa111 commented on #26
@katiedagon, thank you for popping on here to let us know of your work! We can definitely look into providing the functionality that you're describing.

[2022-11-18 20:14] #289 closed

[2022-11-21 17:00] #207 closed

[2022-11-21 17:00] #132 closed

[2022-11-28 18:11] anissa111 commented on #286
Done in #299

[2022-11-28 18:11] #286 closed

[2022-11-28 18:13] anissa111 commented on #290
Done in #300

[2022-11-28 18:13] #290 closed

[2022-11-28 18:14] anissa111 commented on #280
Close as completed with #300 and #301

[2022-11-28 18:14] #280 closed

[2022-11-28 19:13] anissa111 opened #305 "Upstream CI: Pint"
In the most recent releases of geocat-comp, we've opted for pinning pint to >0.20, but we'll need to update our codebase to reflect the most recent update.

See [failing upstream CI tests](https://github.com/NCAR/geocat-comp/actions/runs/3560640392/jobs/5980811808#step:6:152)

[2022-11-28 21:08] hCraker opened #306 "Add check to avoid calculating monthly averages on monthly data"
**Describe the bug**
When monthly data is passed into `climatology_average` to compute seasonal averages, the program attempts to compute monthly averages from monthly data which throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open zarr dataset `s3://ncar-cesm2-lens/ocn/monthly/cesm2LE-ssp370-cmip6-TEMP.zarr` and subset it
2. Resample data for the month start `ds_resample =

[2022-11-29 20:02] hCraker commented on #198
I'm raising this to high priority because a user requested this during the ESDS event